@{
    ViewBag.Title = "Check";
    Layout = "~/Views/Shared/_Home.cshtml";
}
@model SRM.Model.Tra.TraWorkingOrderModel

<form class="layui-form layui-form-pane" action="/Tra/TraWorkingOrder/EditTraWorkingOrder" method="post">
    <div class="layui-card">
        <div class="layui-card-header">运输供应商信息</div>
        <div class="layui-card-body" style="overflow:hidden;">
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">供应商名称</label>
                <div class="layui-input-inline">
                    <input id="txtSupplierName" type="text" value="@Model.SupplierName" lay-verify="supplier" class="layui-input" disabled>
                    <input id="hdTransportId" type="hidden" name="TransportId" value="@Model.TransportId" />
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label" style="width:130px;">运输供应商编号</label>
                <div class="layui-input-inline" style="width:170px;">
                    <input id="txtTransportNumber" name="TransportNumber" type="text" value="@Model.TransportNumber" lay-verify="supplier" class="layui-input" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">每日异常订单记录信息</div>
        <div class="layui-card-body" style="overflow:hidden;height:350px;">
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label"><em>*</em>责任环节</label>
                <div class="layui-input-inline">
                    <select id="txtCheckType" name="CheckType" lay-verify="required" class="select" disabled>
                        <option></option>
                        <option value="0">调拨</option>
                        <option value="1">配送(干线)</option>
                        <option value="2">配送(终端)</option>
                    </select>
                    <input id="hdCheckType" type="hidden" value="@Model.CheckType" />
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label"><em>*</em>发货日期</label>
                <div class="layui-input-inline">
                    <input id="txtWorkingTime" type="text" name="WorkingTime" lay-verify="required|workingtime" value="@Model.WorkingTime" class="layui-input" disabled>
                    <input id="hdOrderId" type="hidden" name="OrderId" value="@Model.OrderId" />
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label"><em>*</em>物流单号</label>
                <div class="layui-input-inline">
                    <input id="txtLogisticsNumber" type="text" maxlength="30" name="LogisticsNumber" value="@Model.LogisticsNumber" lay-verify="required" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">客户ID</label>
                <div class="layui-input-inline">
                    <input id="txtCustomerId" type="text" name="CustomerId" value="@Model.CustomerId" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">异常客户姓名</label>
                <div class="layui-input-inline">
                    <input id="txtAbnormalCustomer" type="text" value="@Model.AbnormalCustomer" name="AbnormalCustomer" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">到达站</label>
                <div class="layui-input-inline">
                    <input id="txtArrivalSite" type="text" value="@Model.ArrivalSite" name="ArrivalSite" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">异常类型</label>
                <div class="layui-input-inline">
                    <input id="txtNormName" type="text" name="NormName" value="@Model.NormName" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">产品名称</label>
                <div class="layui-input-inline">
                    <input id="txtProductName" type="text" name="ProductName" value="@Model.ProductName" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">数量</label>
                <div class="layui-input-inline">
                    <input id="txtNumber" type="text" name="Number" value="@Model.Number" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">单位</label>
                <div class="layui-input-inline">
                    <input id="txtUnit" type="text" name="Unit" value="@Model.Unit" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">处理措施</label>
                <div class="layui-input-inline">
                    <input id="txtSolve" type="text" name="Solve" value="@Model.Solve" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">金额</label>
                <div class="layui-input-inline">
                    <input id="txtCargoDamage" type="text" name="CargoDamage" value="@Model.CargoDamage" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">记录人</label>
                <div class="layui-input-inline">
                    <input id="txtRecordUser" type="text" name="RecordUser" value="@Model.RecordUser" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">处理日期</label>
                <div class="layui-input-inline">
                    <input id="txtSolveTime" type="text" name="SolveTime" value="@Model.SolveTimes" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">原因分析</label>
                <div class="layui-input-inline">
                    <input id="txtAnalysis" type="text" name="Analysis" value="@Model.Analysis" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline" style="margin-left:350px;"> 
                    <a class="layui-btn" id="btnGoBack">返回</a>
                </div>
            </div>
            <script type="text/html" id="temdictlist">
                {{each list as c}}
                <option value="{{c.id}}">{{c.name}}</option>
                {{/each}}
            </script>
        </div>
    </div>
</form>

@section scripts{
    <script>

        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;
            //验证运作时间
            laydate.render({
                elem: '#txtWorkingTime'
               , type: 'datetime'
               , format: 'yyyy/MM/dd HH:mm:ss'
            });
            form.verify({
                selects: function (value, item) { //value：表单的值、item：表单的DOM对象
                    if (value == -1) {
                        return $(item).find("option").first().text();
                    }
                }
            });

            form.on('select(selvalues)', function (data) {
                initsSelect();
            });

            form.verify({
                supplier: function (value, item) {
                    if (!value) {
                        return '运输供应商信息不能为空！';
                    }
                }, 
                workingtime: function (value, item) { //value：表单的值、item：表单的DOM对象
                    var date = new Date();
                    var seperator1 = "/";
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    var strDate = date.getDate();
                    if (month >= 1 && month <= 9) {
                        month = "0" + month;
                    }
                    if (strDate >= 0 && strDate <= 9) {
                        strDate = "0" + strDate;
                    }
                    var sDate1 = year + seperator1 + month + seperator1 + strDate;
                    var sDate2 = $("#txtWorkingTime").val();
                    var aDate, oDate1, oDate2, iDays;
                    aDate = sDate1.split("-");
                    oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);  //转换为yyyy-MM-dd格式
                    aDate = sDate2.split("-");
                    oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
                    iDays = parseInt((oDate1 - oDate2) / 1000 / 60 / 60 / 24); //把相差的毫秒数转换为天数
                    if (iDays < 0) {
                        return '当前时间必须大于运作时间！';
                    } 
                }
            }); 
        });

        // 页面加载事件
        $(function () {

            //字典初始化
            dictinits();

            $("#iOrderType").val($("#hdDictionaryId").val());//字典id

            $("#txtWorkingType").val($("#hdWorkingType").val()); //运作类型

            $("#txtCheckType").val($("#hdCheckType").val()); //考核类型
             
            initsSelect();

            // 关闭按钮
            $(document).on('click', '#btnGoBack', function () {
                location.href = '/Tra/TraWorkingOrder/Index';
            });

        });

      
        window.Dict_1 = [];

        function dictinits() {

            Dict_1.push({ id: -1, name: "请选择不合格品类型" });

            $.ajax({
                type: "POST",
                url: '/Tra/TraWorkingOrder/WorkingOrderlist',
                async: false,
                dataType: "json",
                success: function (data) {
                    if (data) {
                        for (var i in data) {
                            if (data[i].Type == 11) {
                                Dict_1.push({ id: data[i].Id, name: data[i].Name });
                            }
                        }
                    }
                }
            });

            $("#iOrderType").html(template('temdictlist', { list: Dict_1 }));

            layui.use('form', function () {
                layui.form.render("select");
            });
        }


        function initsSelect() {
            $("#hdDictionaryName").val($("#iOrderType").find("option:selected").text());
        }

    </script>
}




