@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@model SRM.Model.Tra.TraYearCheckComponentModel
<form class="layui-form layui-form-pane" action="/Tra/TraYearCheckComponent/EditYearCheckComponent" method="post">
    <div class="layui-card">
        <div class="layui-card-header">年度评估元件新增</div>
        <div class="layui-card-body">
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>项目</label>
                <div class="layui-input-inline">
                    <select id="selCheckComponentType" lay-verify="required" class="select" disabled>
                        <option value="">请选择</option>
                        <option value="0">基本项目</option>
                        <option value="1">加分项;</option>
                        <option value="2">扣分项</option>
                        <option value="3">其他项</option>
                    </select>
                    <input id="hdCheckComponentType" type="hidden" value="@Model.CheckComponentType" />
                    <input name="CheckComponentId" type="hidden" value="@Model.CheckComponentId" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>分类</label>
                <div class="layui-input-inline">
                    <input id="txtClassify" name="Classify" value="@Model.Classify" type="text" maxlength="20" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>标准得分</label>
                <div class="layui-input-inline">
                    <input id="txtStandardScore" name="StandardScore" value="@Model.StandardScore" type="text" maxlength="20" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>评分最大分</label>
                <div class="layui-input-inline">
                    <input id="txtMaxScore" name="MaxScore" value="@Model.MaxScore" type="text" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>评分最小分</label>
                <div class="layui-input-inline">
                    <input id="txtMinScore" name="MinScore" value="@Model.MinScore" type="text" maxlength="10" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">考核项目</label>
                <div class="layui-input-block">
                    <textarea id="txtCheckProject" name="CheckProject" type="text" maxlength="100" class="layui-textarea">@Model.CheckProject</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">内容描述</label>
                <div class="layui-input-block">
                    <textarea id="txtContentsDescribe" name="ContentsDescribe" type="text" maxlength="800" class="layui-textarea">@Model.ContentsDescribe</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">考核办法</label>
                <div class="layui-input-block">
                    <textarea id="txtCheckMethod" name="CheckMethod" type="text" maxlength="400" class="layui-textarea">@Model.CheckMethod</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="width:20%;margin:0 auto !important;">
                    <button class="layui-btn" lay-submit="" lay-filter="btnSave">保存</button>
                    <a class="layui-btn" id="btnGoBack">返回</a>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script>

        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;

            // 提交保存
            form.on('submit(btnSave)', function (data) {

                $.ajax({
                    type: "POST",
                    url: "/Tra/TraYearCheckComponent/EditYearCheckComponent",
                    data: data.field,
                    async: false,
                    success: function (data) {
                        if (data.flag == 'success') {
                            top.layui.layer.msg('保存成功！');
                            location.href = '/Tra/TraYearCheckComponent/Index';
                        }
                        if (data.flag == "fail") {
                            top.layui.layer.msg('保存失败！');
                        }
                    }
                });
                return false;
            });

            // 返回
            $(document).on('click', '#btnGoBack', function () {
                location.href = '/Tra/TraYearCheckComponent/Index';
            });
        });

        $(function () {
            $("#selCheckComponentType").val($("#hdCheckComponentType").val());
        });
    </script>
}