@{ 
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form">
            <div class="forzenbox">
                <div class="normaltable ">
                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th><input lay-filter="allChoose" id="allChoose" type="checkbox" lay-skin="primary"></th>
                                <th style="text-align:left;">考核年</th>
                                <th>考核月</th>
                                <th>考核得分</th> 
                            </tr>
                        </thead>
                        <tbody id="MonthCheckList" style="min-height:400px;"></tbody>
                    </table>
                </div> 
            </div>
            <div id="pageinfos" class="pagebox">
                <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
            </div>
            <script type="text/html" id="temslist">
                {{each list as c}}
                <tr>
                    <td><input name="checked" lay-skin="primary" lay-filter="choose" type="checkbox" class="cksel" subid="ck{{c.CheckId}}" data-id="{{c.CheckId}}"></td>
                    <td>{{c.CheckYear}}</td>
                    <td>{{c.CheckMonth}}</td>
                    <td>{{c.Score}}</td> 
                </tr>
                {{/each}}
            </script>
        </div>
        <div class="layui-form-item" style="margin-top:10px;">
            <div class="layui-input-block" style="width:30%;margin:0 auto !important;">
                <button class="layui-btn" id="btnSave">保存</button>
                <a class="layui-btn" id="btnGoBack">返回</a>
            </div>
        </div>
    </div>
</div>
<input id="hdUrl" type="hidden" value="@ViewBag.Url" />
<input id="hdIds" type="hidden" value="@ViewBag.Ids" /> 
<input id="hdYear" type="hidden" value="@ViewBag.Year" />
<input id="hdType" type="hidden" value="@ViewBag.Type" />
<input id="hdTransportId" type="hidden" value="@ViewBag.TransportId" />

@section scripts{
    <script>
        layui.use(['form', 'element', 'table', 'layer'], function () {
            var form = layui.form, ele = layui.element, table = layui.table;
            form.render(); //更新全部
            // 全选
            form.on('checkbox(allChoose)', function (data) {
                var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
                child.each(function (index, item) {
                    item.checked = data.elem.checked;
                });
                form.render('checkbox');
            });

            // 提交保存
            $(document).on('click', '#btnSave', function () {
                var temlist = [];
                $(".cksel").each(function () {
                    if ($(this).attr("checked")) {
                        temlist.push($(this).data("id"));
                    }
                });
                var ids = temlist.join(",");

                if ($("#hdType").val() == "add") {
                    top.$.find('iframe[src="' + $("#hdUrl").val() + '"]')[0].contentWindow.MonthCheckSetinfo(ids);
                    top.layui.layer.close(top.window.topdialog);
                }
                else if ($("#hdType").val() == "edit") {
                    // 新增到数据库
                    $.ajax({
                        type: "POST",
                        url: "/Tra/TraYearCheckResult/AddResultDetailList",
                        data: {
                            tIds: ids,
                            tResultId: $("#hdIds").val(),
                            tDetailType:0
                        },
                        async: false,
                        success: function (data) {
                            if (data.flag == 'success') {
                                layui.layer.msg('新增成功！');
                                top.$.find('iframe[src="' + $("#hdUrl").val() + '"]')[0].contentWindow.SearchMonthCheck();
                                top.layui.layer.close(top.window.topdialog);
                            }
                            if (data.flag == "fail") {
                                layui.layer.msg('信息新增失败！');
                            }
                        }
                    });
                    return false;
                }
            });

            // 返回
            $(document).on('click', '#btnGoBack', function () {
                top.layui.layer.close(top.window.topdialog);
            });
        });

        // 定义页面索引及显示条数
        var pageIndex = 0;
        var pageSize = 15;

        $(function () {

            // 查询
            SearchData();

            // 查询
            $(document).on('click', '#btnSearch', function () {
                SearchData();
            });
        });

        // 查询总记录数
        function SearchData() {

            // 总记录数
            var flagCount = 0;

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#MonthCheckList").html("数据加载中……");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/Tra/TraYearCheckResult/MonthCheckCount",
                async: false,
                data: {
                    tTransportId: $("#hdTransportId").val(),
                    tYear: $("#hdYear").val(),
                    tIds: $("#hdIds").val(),
                    tType: $("#hdType").val()
                },
                success: function (data) {
                    flagCount = data;
                    $(".pagedetail").text("共" + flagCount + "条");
                }
            });

            // 分页配置
            $("#Pagination").pagination(flagCount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfCus(indexs, jq) {
            pageIndex = indexs;
            InitCusTable(indexs);
        }

        // 查询数据
        function InitCusTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                tTransportId: $("#hdTransportId").val(),
                tYear: $("#hdYear").val(),
                tIds: $("#hdIds").val(),
                tType: $("#hdType").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Tra/TraYearCheckResult/MonthCheckList',
                data: userjosn,
                success: function (data) {
                    $("#MonthCheckList").html(template('temslist', { list: data }));
                    $("#btnSave").show();

                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#MonthCheckList").html("<div class='nodata'>暂无数据</div>")
                        $("#btnSave").hide();
                    }
                    else {
                        $("#pageinfos").show();

                        // 显示复选框
                        layui.use('form', function () {
                            layui.form.render('checkbox');
                        });
                    }
                }
            });
        }
    </script>
}
