@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@model SRM.Model.Tra.TraYearCheckResultModel
<form class="layui-form layui-form-pane" method="post">
    <div class="layui-card">
        <div class="layui-card-header">年度考核新增</div>
        <div class="layui-card-body">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width:12%;"><em>*</em>运输供应商名称</label>
                <div class="layui-input-inline" style="width:222px;">
                    <input id="txtSupplierName" value="@ViewBag.SupplierName" type="text" class="layui-input" lay-verify="required" disabled>
                    <input id="hdTransportId" name="TransportId" value="@Model.TransportId" type="hidden" />
                    <input id="hdResultId" name="ResultId" value="@Model.ResultId" type="hidden" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width:12%;"><em>*</em>运输供应商编号</label>
                <div class="layui-input-inline" style="width:222px;">
                    <input id="txtTransportNumber" type="text" value="@ViewBag.TransportNumber" class="layui-input" lay-verify="required" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>考核年</label>
                <div class="layui-input-inline" style="width:242px;">
                    <select id="selYear" name="CheckYear" class="select" disabled></select>
                    <input id="hdYear" type="hidden" value="@Model.CheckYear" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>计算公式</label>
                <div class="layui-input-inline" style="width:242px;">
                    <select id="selFormulaId" name="FormulaId" lay-verify="required" lay-filter="formulaid" class="select" disabled></select>
                    <input id="hdFormulaId" type="hidden" value="@Model.FormulaId" />
                    <input id="hdCheckPercent" type="hidden" />
                    <input id="hdRecordPercent" type="hidden" />
                    <input id="hdCheckYearPercent" type="hidden" />
                    <input id="hdScore" type="hidden" name="Score" />
                </div>
            </div>
            <script type="text/html" id="temdictlist">
                {{each list as c}}
                <option value="{{c.id}}" data-type="{{c.type}}">{{c.name}}</option>
                {{/each}}
            </script>
        </div>
    </div>
    <div class="layui-card" id="divMonthCheckList" style="display:none">
        <div class="layui-card-header">月绩效信息列表</div>
        <div class="layui-card-body">
            <div class="layui-form">
                <input id="hdCheckId" type="hidden" name="CheckIdList" />
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th style="text-align:left;">考核年</th>
                            <th>考核月</th>
                            <th>考核得分</th>
                        </tr>
                    </thead>
                    <tbody id="MonthCheckList" style="min-height:400px;"></tbody>
                </table>
                <div id="pageinfo" class="pagebox" style="display:none;">
                    <div id="Pagination" class="pagination"></div><div id="divpagedetail0" class="pagedetail">共0条记录</div>
                </div>
                <script type="text/html" id="temslistOfMC">
                    {{each list as c}}
                    <tr>
                        <td>{{c.CheckYear}}</td>
                        <td>{{c.CheckMonth}}</td>
                        <td>{{c.Score}}<input type="hidden" class="monthCheckScore" value="{{c.Score}}" /></td>
                    </tr>
                    {{/each}}
                </script>
            </div>
        </div>
    </div>
    <div class="layui-card" id="divPatrolRecordList" style="display:none">
        <div class="layui-card-header">巡查信息列表</div>
        <div class="layui-card-body">
            <div class="layui-form">
                <input id="hdRecordId" type="hidden" name="RecordIdList" />
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th style="text-align:left;">巡查类型</th>
                            <th>巡查维护备注</th>
                            <th>巡查时间</th>
                            <th>巡查负责人</th>
                            <th>巡查得分</th>
                        </tr>
                    </thead>
                    <tbody id="PatrolRecordList" style="min-height:400px;"></tbody>
                </table>
                <div id="pageinfo1" class="pagebox" style="display:none;">
                    <div id="Pagination1" class="pagination"></div><div id="divpagedetail1" class="pagedetail">共0条记录</div>
                </div>
                <script type="text/html" id="temslistOfPR">
                    {{each list as c}}
                    <tr>
                        <td>{{c.PatrolTypeName}}</td>
                        <td>{{c.RecordRemark}}</td>
                        <td>{{c.RecordTime}}</td>
                        <td>{{c.RecordUsers}}</td>
                        <td>{{c.RecordScore}}<input type="hidden" class="patrolRecordScore" value="{{c.RecordScore}}" /></td>
                    </tr>
                    {{/each}}
                </script>
            </div>
        </div>
    </div>
    <div class="layui-card" id="divYearCheckList" style="display:none">
        <div class="layui-card-header">年评估信息列表</div>
        <div class="layui-card-body">
            <div class="layui-form">
                <input id="hdCheckYearId" type="hidden" name="CheckYearIdList" />
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th style="text-align:left;">考核年</th>
                            <th>考核得分</th>
                        </tr>
                    </thead>
                    <tbody id="YearCheckList" style="min-height:400px;"></tbody>
                </table>
                <div id="pageinfo2" class="pagebox" style="display:none;">
                    <div id="Pagination2" class="pagination"></div><div id="divpagedetail2" class="pagedetail">共0条记录</div>
                </div>
                <script type="text/html" id="temslistOfYC">
                    {{each list as c}}
                    <tr>
                        <td>{{c.CheckYear}}</td>
                        <td>{{c.Score}}<input type="hidden" class="yearCheckScore" value="{{c.Score}}" /></td>
                    </tr>
                    {{/each}}
                </script>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">附件信息 </div>
        <div class="layui-card-body" style="overflow:hidden;">
            <div class="layui-form-item" style="margin-top:10px;">
                <input type="hidden" id="hdfiles" value="@ViewBag.files" />
                <input type="hidden" id="hdfilelist" name="FileList" />
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>文件类型</th>
                            <th>文件地址</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="filelist"></tbody>
                </table>
                <script type="text/html" id="temfilelist">
                    {{each list as c}}
                    <tr>
                        <td>{{c.filename}}</td>
                        <td>{{c.path}}</td>
                        <td><a class="layui-btn layui-btn-danger layui-btn-sm" onclick="downfile('{{c.id}}')">下载</a></td>
                    </tr>
                    {{/each}}
                </script>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="width:20%;margin:0 auto !important;"> 
                    <a class="layui-btn" id="btnGoBack">返回</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script>
        // 公式类型
        var FormulaType = 0;

        // 月绩效ID数组
        var CheckIds = [];

        // 月绩效数量
        var SearchMonthCount = 0;

        // 巡查记录ID数组
        var RecordIds = [];

        // 巡查数量
        var PatrolRecordCount = 0;

        // 年评估ID数组
        var CheckYearIds = [];

        // initfiles/delfilelist/setfilename/downfile 附件上传/删除/更改名称/下载
        var filelist = [];
        function initfiles() {
            $("#filelist").html(template('temfilelist', { list: filelist }));
            $("#hdfilelist").val(JSON.stringify(filelist));
        }
        function delfilelist(ids) {
            var tem = [];
            for (var i in filelist) {
                if (filelist[i].id != ids) {
                    tem.push(filelist[i]);
                }
            }

            filelist = tem;
            initfiles();
        }
        function setfilename(ids, names) {
            for (var i in filelist) {
                if (filelist[i].id == ids) {
                    filelist[i].filename = names;
                }
            }
            $("#hdfilelist").val(JSON.stringify(filelist));
        }
        function downfile(ids) {
            for (var i in filelist) {
                if (filelist[i].id == ids) {
                    if (filelist[i].path.lastIndexOf('.') != -1) {
                        var lastnum = filelist[i].path.lastIndexOf('.');
                        var exts = filelist[i].path.substring(lastnum + 1);
                        location.href = '/index/down?url=' + filelist[i].path + "&name=" + filelist[i].filename + "&ext=" + exts;
                    }
                }
            }
        }

        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;

            // 上传文件
            $(document).on('click', '#btnUpload', function () {
                top.window.filedialog = top.layui.layer.open({
                    type: 2,
                    shade: 0.2,
                    title: '文件上传',
                    content: '/supplier/SupplierTransport/files?url=/Tra/TraYearCheckResult/Index&type=result',
                    area: ['450px', '300px'],
                });
            });

            // 提交保存
            form.on('submit(btnSave)', function (data) {
                $("#btnSave").attr("display", "none");
                TotalScore();
                alert($("#hdScore").val());
                data.field.Score = $("#hdScore").val();
                $.ajax({
                    type: "POST",
                    url: "/Tra/TraYearCheckResult/EditTraYearCheckResult",
                    data: data.field,
                    async: false,
                    success: function (data) {
                        if (data.flag == 'success') {
                            top.layui.layer.msg('年绩效结果信息保存成功！');
                            location.href = '/Tra/TraYearCheckResult/Index';
                        }
                        if (data.flag == "noauth") {
                            top.layer.msg(data.content);
                        }
                        if (data.flag == "fail") {
                            top.layui.layer.msg('年绩效结果信息保存失败！');
                        }
                    }
                });
                return false;
            });

            // 返回事件
            $(document).on('click', '#btnGoBack', function () {
                location.href = '/Tra/TraYearCheckResult/Index';
            });
        });

        //添加新文件(新增)
        function setnewfiles(filename, path) {
            filelist.push({ id: new Date().getTime(), path: path, filename: filename, ext: '' });
            initfiles();
        }

        // 页面加载
        $(function () {

            // 考核年
            GetYear();

            // 考核年赋值
            $("#selYear").val($("#hdYear").val());

            // 获取计算公式
            GetFormulaList();

            // 计算公式赋值
            $("#selFormulaId").val($("#hdFormulaId").val());

            // 获取选中项的自定义属性值
            FormulaType = $("#selFormulaId").find("option:selected").attr("data-type");

            var tFormulaId = $("#selFormulaId").val();

            // 公式类型:0-月度绩效;1-巡查;2-年评估;3-月度绩效+巡查;4-巡查+年评估;5-月度绩效+年评估6-月度绩效+巡查+年评估;
            if (FormulaType == 0) {
                $("#divMonthCheckList").show();
                $("#divPatrolRecordList").hide();
                $("#divYearCheckList").hide();

                // 获取百分比
                GetPercent(tFormulaId, 0);

                // 月绩效列表
                SearchMonthCheck();
            }
            else if (FormulaType == 1) {
                $("#divMonthCheckList").hide();
                $("#divPatrolRecordList").show();
                $("#divYearCheckList").hide();

                // 获取百分比
                GetPercent(tFormulaId, 1);

                // 巡查记录
                SearchPatrolRecord();
            }
            else if (FormulaType == 2) {
                $("#divMonthCheckList").hide();
                $("#divPatrolRecordList").hide();
                $("#divYearCheckList").show();

                // 获取百分比
                GetPercent(tFormulaId, 2);

                // 年评估
                SearchYearCheck();
            }
            else if (FormulaType == 3) {
                $("#divMonthCheckList").show();
                $("#divPatrolRecordList").show();
                $("#divYearCheckList").hide();

                GetPercent(tFormulaId, 0);
                GetPercent(tFormulaId, 1);

                SearchMonthCheck();
                SearchPatrolRecord();
            }
            else if (FormulaType == 4) {
                $("#divMonthCheckList").hide();
                $("#divPatrolRecordList").show();
                $("#divYearCheckList").show();

                GetPercent(tFormulaId, 1);
                GetPercent(tFormulaId, 2);

                SearchPatrolRecord();
                SearchYearCheck();
            }
            else if (FormulaType == 5) {
                $("#divMonthCheckList").show();
                $("#divPatrolRecordList").hide();
                $("#divYearCheckList").show();

                GetPercent(tFormulaId, 0);
                GetPercent(tFormulaId, 2);

                SearchMonthCheck();
                SearchYearCheck();
            }
            else if (FormulaType == 6) {
                $("#divMonthCheckList").show();
                $("#divPatrolRecordList").show();
                $("#divYearCheckList").show();

                GetPercent(tFormulaId, 0);
                GetPercent(tFormulaId, 1);
                GetPercent(tFormulaId, 2);

                SearchMonthCheck();
                SearchPatrolRecord();
                SearchYearCheck();
            }

            // 选择月绩效信息列表
            $(document).on('click', '#btnChooseMonthCheck', function () {
                ChooseMonthCheck();
            });

            // 作废月绩效信息
            $(document).on('click', '.btnMonthCheckInvalid', function ()
            {
                var tId = $(this).data("id");
                var tOtherId = $(this).data("otherid");
                InvalidResultDetail(tId,tOtherId,0);
            });

            // 选择巡查信息列表
            $(document).on('click', '#btnChoosePatrolRecord', function () {
                ChoosePatrolRecord();
            });

            // 作废巡查信息
            $(document).on('click', '.btnPatrolRecordInvalid', function () {

                var tId = $(this).data("id");
                var tOtherId = $(this).data("otherid");
                InvalidResultDetail(tId, tOtherId, 1);
            });

            // 选择年评估信息列表
            $(document).on('click', '#btnChooseYearCheck', function () {
                ChooseYearCheck();
            });

            // 作废年评估信息
            $(document).on('click', '.btnYearCheckInvalid', function () {

                var tId = $(this).data("id");
                var tOtherId = $(this).data("otherid");
                InvalidResultDetail(tId, tOtherId, 2);
            });

            filelist = JSON.parse($("#hdfiles").val());
            initfiles();
        });

        // 考核年
        function GetYear() {

            // 时间
            var myDate = new Date();

            var CurrentYear = myDate.getFullYear();

            // 起始年份
            var startYear = CurrentYear - 5;

            //结束年份
            var endYear = CurrentYear + 5;

            for (var i = startYear; i <= endYear; i++) {
                $("#selYear").append(new Option(i, i));
            }
        }

        // 计算公式列表
        window.FormulaList = [];

        // 获取计算公式
        function GetFormulaList() {

            FormulaList.push({ id: '', name: "请选择" });

            $.ajax({
                url: '/Tra/TraYearCheckResult/FormulaList',
                type: 'POST',
                async: false,
                datatype: 'json',
                success: function (data) {
                    if (data.length != null) {
                        if (data) {
                            for (var i in data) {
                                FormulaList.push({ id: data[i].FormulaId, type: data[i].FormulaType, name: data[i].FormulaName });
                            }
                        }
                    }
                }
            });

            $("#selFormulaId").html(template('temdictlist', { list: FormulaList }));

            layui.use('form', function () {
                layui.form.render("select");
            });
        }

        // 获取公式百分比
        function GetPercent(tFormulaId, tDetailType) {
            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/Tra/TraYearCheckResult/GetPercent",
                async: false,
                data: {
                    tFormulaId: tFormulaId,
                    tDetailType: tDetailType
                },
                success: function (data) {
                    if (tDetailType == 0) {
                        $("#hdCheckPercent").val(data);
                    }
                    else if (tDetailType == 1) {
                        $("#hdRecordPercent").val(data);
                    }
                    else if (tDetailType == 2) {
                        $("#hdCheckYearPercent").val(data);
                    }
                }
            });
        }

        // 定义页面索引及显示条数
        var pageIndex = 0;
        var pageSize = 5;

        // 月绩效信息
        // 选择月绩效信息列表
        function ChooseMonthCheck() {
            top.window.topdialog = top.layui.layer.open({
                type: 2,
                shade: 0.2,
                title: '选择月绩效信息列表',
                content: '/Tra/TraYearCheckResult/MonthCheckDetail?tUrl=/Tra/TraYearCheckResult/Index&tIds=' + $("#hdResultId").val() + "&tTransportId=" + $("#hdTransportId").val() + "&tYear=" + $("#selYear").val() + "&tType=edit",
                area: ['550px', '550px'],
            });
        }

        // 查询总记录数
        function SearchMonthCheck() {
            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#MonthCheckList").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/Tra/TraYearCheckResult/ResultDetailCount",
                async: false,
                data: {
                    tResultId: $("#hdResultId").val(),
                    tDetailType: 0
                },
                success: function (data) {
                    SearchMonthCount = data;
                    $("#divpagedetail0").text("共" + SearchMonthCount + "条记录");
                }
            });

            // 分页配置
            $("#Pagination").pagination(SearchMonthCount, {
                callback: PageCallbackOfMC,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfMC(indexs) {
            pageIndex = indexs;
            InitMCTable(indexs);
        }

        // 查询数据
        function InitMCTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                tResultId: $("#hdResultId").val(),
                tDetailType: 0
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Tra/TraYearCheckResult/ResultDetailList',
                data: userjosn,
                success: function (data) {
                    $("#MonthCheckList").html(template('temslistOfMC', { list: data }));
                    $("#pageinfo").show();
                    if (data.length == 0) {
                        $("#pageinfo").hide();
                        $("#MonthCheckList").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }

        // 巡查记录信息
        // 选择巡查记录列表
        function ChoosePatrolRecord() {
            top.window.topdialog = top.layui.layer.open({
                type: 2,
                shade: 0.2,
                title: '选择巡查记录列表',
                content: '/Tra/TraYearCheckResult/PatrolRecordDetail?tUrl=/Tra/TraYearCheckResult/Index&tIds=' + $("#hdResultId").val() + "&tTransportId=" + $("#hdTransportId").val() + "&tType=edit",
                area: ['650px', '550px'],
            });
        }

        // 查询总记录数
        function SearchPatrolRecord() {

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#PatrolRecordList").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/Tra/TraYearCheckResult/ResultDetailCount",
                async: false,
                data: {
                    tResultId: $("#hdResultId").val(),
                    tDetailType: 1
                },
                success: function (data) {
                    PatrolRecordCount = data;
                    $("#divpagedetail1").text("共" + PatrolRecordCount + "条记录");
                }
            });

            // 分页配置
            $("#Pagination1").pagination(PatrolRecordCount, {
                callback: PageCallbackOfPR,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfPR(indexs) {
            pageIndex = indexs;
            InitPRTable(indexs);
        }

        // 查询数据
        function InitPRTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                tResultId: $("#hdResultId").val(),
                tDetailType: 1
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Tra/TraYearCheckResult/ResultDetailList',
                data: userjosn,
                success: function (data) {
                    $("#PatrolRecordList").html(template('temslistOfPR', { list: data }));
                    $("#pageinfo1").show();
                    if (data.length == 0) {
                        $("#pageinfo1").hide();
                        $("#PatrolRecordList").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }

        // 年评估信息
        // 选择年评估信息
        function ChooseYearCheck() {
            top.window.topdialog = top.layui.layer.open({
                type: 2,
                shade: 0.2,
                title: '选择年评估信息',
                content: '/Tra/TraYearCheckResult/YearCheckDetail?tUrl=/Tra/TraYearCheckResult/Index&tIds=' + $("#hdResultId").val() + "&tTransportId=" + $("#hdTransportId").val() + "&tYear=" + $("#selYear").val() + "&tType=edit",
                area: ['550px', '550px'],
            });
        }

        // 查询总记录数
        function SearchYearCheck(tId) {

            // 总记录数
            var amount = 0;

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#YearCheckList").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/Tra/TraYearCheckResult/ResultDetailCount",
                async: false,
                data: {
                    tResultId: $("#hdResultId").val(),
                    tDetailType: 2
                },
                success: function (data) {
                    amount = data;
                    $("#divpagedetail2").text("共" + amount + "条记录");
                }
            });

            // 分页配置
            $("#Pagination2").pagination(amount, {
                callback: PageCallbackOfYC,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfYC(indexs) {
            pageIndex = indexs;
            InitYCTable(indexs);
        }

        // 查询数据
        function InitYCTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                tResultId: $("#hdResultId").val(),
                tDetailType: 2
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Tra/TraYearCheckResult/ResultDetailList',
                data: userjosn,
                success: function (data) {
                    $("#YearCheckList").html(template('temslistOfYC', { list: data }));
                    $("#pageinfo2").show();
                    if (data.length == 0) {
                        $("#pageinfo2").hide();
                        $("#YearCheckList").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }

        // 作废明细表信息
        function InvalidResultDetail(tResultDetailId, tOtherId, tDetailType) {
            top.layer.confirm('您确定作废此数据吗？', ['确定', '取消'], function () {
                $.ajax({
                    type: "POST",
                    url: '/Tra/TraYearCheckResult/InvalidResultDetail',
                    data: {
                        tResultDetailId: tResultDetailId,
                        tOtherId: tOtherId,
                        tDetailType: tDetailType
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.flag == "success") {
                            top.layer.closeAll();
                            top.layer.msg(data.content);

                            if (tDetailType == 0) {
                                // 月绩效列表
                                SearchMonthCheck();
                            }
                            else if (tDetailType == 1) {
                                // 巡查记录
                                SearchPatrolRecord();
                            }
                            else if (tDetailType == 2) {
                                // 年评估
                                SearchYearCheck();
                            }
                        }
                        if (data.flag == "noauth") {
                            top.layer.msg(data.content);
                        }
                        if (data.flag == "fail") {
                            top.layer.msg(data.content);
                        }
                    }
                });
            }, function () { }
            );
        }

        // 计算总得分
        function TotalScore() {

            // 总得分
            var totalScore = 0;

            // 月绩效总得分
            var MonthCheckScore = 0;
            $(".monthCheckScore").each(function () {
                if (!isNaN(parseFloat($(this).val()))) {
                    MonthCheckScore += parseFloat($(this).val());
                }
            });

            // 巡查总得分
            var PatrolRecordScore = 0;
            $(".patrolRecordScore").each(function () {
                if (!isNaN(parseFloat($(this).val()))) {
                    PatrolRecordScore += parseFloat($(this).val());
                }
            });

            // 年评估总得分
            var YearCheckScore = 0;
            $(".yearCheckScore").each(function () {
                if (!isNaN(parseFloat($(this).val()))) {
                    YearCheckScore += parseFloat($(this).val());
                }
            });

            // 月绩效实际得分
            if (MonthCheckScore != 0) {
                MonthCheckScore = MonthCheckScore / SearchMonthCount * ($("#hdCheckPercent").val() / 100);
            }

            // 巡查实际得分
            if (PatrolRecordScore != 0) {
                PatrolRecordScore = PatrolRecordScore / PatrolRecordCount * ($("#hdRecordPercent").val() / 100);
            }

            // 年评估实际得分
            if (YearCheckScore != 0) {
                YearCheckScore = YearCheckScore * ($("#hdCheckYearPercent").val() / 100);
            }

            if (FormulaType == 0) {
                totalScore = MonthCheckScore;
            }
            else if (FormulaType == 1) {
                totalScore = PatrolRecordScore;
            }
            else if (FormulaType == 2) {
                totalScore = YearCheckScore;
            }
            else if (FormulaType == 3) {
                totalScore = MonthCheckScore + PatrolRecordScore;
            }
            else if (FormulaType == 4) {
                totalScore = PatrolRecordScore + YearCheckScore;
            }
            else if (FormulaType == 5) {
                totalScore = MonthCheckScore + YearCheckScore;
            }
            else if (FormulaType == 6) {
                totalScore = MonthCheckScore + PatrolRecordScore + YearCheckScore;
            }

            $("#hdScore").val(totalScore);
        }
    </script>
}