@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@model SRM.Model.Tra.TraWorkingOperateModel

<form class="layui-form layui-form-pane" action="/Tra/TraWorkingOperate/EditTraWorkingOperate" method="post">
    <div class="layui-card">
        <div class="layui-card-header">运输供应商信息</div>
        <div class="layui-card-body" style="overflow:hidden;"> 
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">供应商名称</label>
                <div class="layui-input-inline">
                    <input id="txtSupplierName" type="text" value="@Model.SupplierName" lay-verify="supplier" class="layui-input" disabled>
                    <input id="hdTransportId" type="hidden" name="TransportId" value="@Model.TransportId" />
                    <input id="hdWorkingOperateId" type="hidden" name="WorkingOperateId" value="@Model.WorkingOperateId" />
                    <input id="hdOperateId" type="hidden" name="OperateId" value="@Model.OperateId" />
                    <input id="hdOperateName" type="hidden" name="OperateName" value="@Model.OperateName" />
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label" style="width:130px;">运输供应商编号</label>
                <div class="layui-input-inline" style="width:170px;">
                    <input id="txtTransportNumber" name="TransportNumber" type="text" value="@Model.TransportNumber" lay-verify="supplier" class="layui-input" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">每月运营过程记录</div>
        <div class="layui-card-body" style="overflow:hidden;height:350px;">
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">考核类型</label>
                <div class="layui-input-inline">
                    <select id="txtCheckType" name="CheckType" lay-verify="required" class="select"  lay-filter="selCheckType">
                        <option></option>
                        <option value="0">调拨</option>
                        <option value="1">配送(干线)</option>
                        <option value="2">配送(终端)</option>
                    </select>
                    <input id="hdCheckType" type="hidden" value="@Model.CheckType" />
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">考核年</label>
                <div class="layui-input-inline">  
                    <select class="select" id="selYears" name="WorkingTimeYear"  lay-verify="required"></select>
                    <input id="hdWorkingTimeYear"   type="hidden" value="@Model.WorkingTimeYear" />
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">考核月</label>
                <div class="layui-input-inline">
                    <select class="select" id="selMonths" name="WorkingTimeMonth"  lay-verify="required">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <input id="hdWorkingTimeMonth"   type="hidden" value="@Model.WorkingTimeMonth" />
                </div>
            </div>
            <div class="layui-form-item" style="width:40%;clear:none !important; float:left;">
                <label class="layui-form-label">运营类型名称</label>
                <div class="layui-input-inline">
                    <input id="txtOperateName" name="OperateName" type="text" lay-verify="required" value="@Model.OperateName" class="layui-input" disabled>
                </div>
                <div class="layui-btn" id="btnWorkingOperate"  title="选择">选择</div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">运营值</label>
                <div class="layui-input-inline">
                    <input id="txtOperateValue" name="OperateValue" type="text" lay-verify="required" value="@Model.OperateValue" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left:350px;">
                    <button class="layui-btn" lay-submit="" lay-filter="btnSave">保存</button>
                    <a class="layui-btn" id="btnGoBack">返回</a>
                </div>
            </div>
            <script type="text/html" id="temdictlist">
                {{each list as c}}
                <option value="{{c.id}}">{{c.name}}</option>
                {{/each}}
            </script>
        </div>
    </div>
</form>

@section scripts{
    <script>

        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;

            //若下拉框改变时，清空文本框的值
            form.on('select(selCheckType)', function (data) {
                $("#txtOperateName").val("");
            });

            // 保存
            form.on('submit(btnSave)', function (data) {
                $.ajax({
                    type: "POST",
                    url: "/Tra/TraWorkingOperate/EditTraWorkingOperate",
                    data: data.field,
                    async: false,
                    success: function (data) {
                        if (data.flag == 'success') {
                            layui.layer.msg('修改成功');
                            location.href = '/Tra/TraWorkingOperate/Index';
                        }
                        if (data.flag == "fail") {
                            top.layer.msg(data.content)
                        }
                    }
                });
                return false;
            });
        });

        // 页面加载事件
        $(function () {

            // 考核年
            GetYear();
              
            $("#selMonths").val($("#hdWorkingTimeMonth").val()); //考核月

            $("#txtCheckType").val($("#hdCheckType").val()); //考核类型
              
            // 每日异常订单记录信息
            $(document).on('click', '#btnTraWorkingOperate', function () {
                GetTraWorkingOperate();
            });

            // 运营类型
            $(document).on('click', '#btnWorkingOperate', function () {
                var type = $("#txtCheckType").val();
                GetWorkingOperate(type);
            });
             
            // 关闭按钮
            $(document).on('click', '#btnGoBack', function () {
                location.href = '/Tra/TraWorkingOperate/Index';
            });
             
        });

        // 运输供应商信息
        function setinfo(transportid, suppliername, transportnumber) {
            $("#hdTransportId").val(transportid);
            $("#txtSupplierName").val(suppliername);
            $("#txtTransportNumber").val(transportnumber);
        }

        // 运输供应商信息
        function GetTraWorkingOperate() {
            top.window.topdialog = top.layui.layer.open({
                type: 2,
                shade: 0.2,
                title: '运输供应商信息',
                content: '/Tra/TraWorkingOperate/TraWorkingOperateSupplier?url=/Tra/TraWorkingOperate/Index',
                area: ['1100px', '600px'],
            });
        }

        // 运营类型信息
        function setinfos(operateid, operatename, checktype) {
            $("#hdOperateId").val(operateid);
            $("#txtOperateName").val(operatename);
            $("#hdCheckType").val(checktype);
        }

        // 运营类型信息
        function GetWorkingOperate(type) {
            if (type != "") {
                top.window.topdialog = top.layui.layer.open({
                    type: 2,
                    shade: 0.2,
                    title: '运营类型信息',
                    content: '/Tra/TraWorkingOperate/TraWorkingOperateType?url=/Tra/TraWorkingOperate/Index&type=' + type,
                    area: ['1100px', '600px'],
                });
            }
            else {
                top.layer.msg('请选择考核类型！');
                return;
            }
        }

        // 考核年
        function GetYear() {

            // 时间
            var myDate = new Date();

            var CurrentYear = myDate.getFullYear();

            // 起始年份
            var startYear = CurrentYear - 5;

            //结束年份
            var endYear = CurrentYear + 5;

            for (var i = startYear; i <= endYear; i++) {
                $("#selYears").append(new Option(i, i));
            }
            $("#selYears").val($("#hdWorkingTimeYear").val());
        }
    </script>
}
