@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@model SRM.Model.Tra.TraPatrolRecordModel
<form class="layui-form layui-form-pane" action="/Tra/TraPatrolRecord/EditTraPatrolRecord" method="post">
    <div class="layui-card">
        <div class="layui-card-header">添加过程巡查维护</div>
        <div class="layui-card-body" style="overflow:hidden;"> 
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label"style="width:130px;">运输供应商名称</label>
                <div class="layui-input-inline"style="width:170px;"> 
                    <input id="txtSupplierName" type="text" class="layui-input" value="@Model.SupplierName"  lay-verify="traPatrol" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">巡查类型</label>
                <div class="layui-input-inline">
                    <select id="txtPatrolType" name="PatrolType" lay-verify="traPatrol" class="select" disabled >
                        <option value="0">定期</option>
                        <option value="1">专项</option>
                        <option value="2">其他</option>
                    </select>
                    <input id="hdPatrolType" type="hidden" value="@Model.PatrolType" />
                    <input id="hdPatrolId" type="hidden" name="PatrolId" value="@Model.PatrolId"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">巡查内容</label>
                <div class="layui-input-block"> 
                    <textarea id="txtPatrolContent" name="PatrolContent" lay-verify="traPatrol" class="layui-textarea" disabled>@Model.PatrolContent</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">巡查备注</label>
                <div class="layui-input-block"> 
                    <textarea id="txtPatrolRemark" name="PatrolRemark"  class="layui-textarea" disabled>@Model.PatrolRemark</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">过程巡查记录</div>
        <div class="layui-card-body" style="overflow:hidden;">
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label"><em>*</em>巡查时间</label>
                <div class="layui-input-inline">
                    <input id="txtRecordTime" type="text" lay-verify="required" name="RecordTime" value="@Model.RecordTime" class="layui-input">
                    <input id="hdPatrolId" name="PatrolId" type="hidden" value="@Model.PatrolId" />
                    <input id="hdRecordId" name="RecordId" type="hidden" value="@Model.RecordId" />
                </div>
            </div>
            <div class="layui-form-item"  style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label"><em>*</em>巡查负责人</label>
                <div class="layui-input-inline">
                    <input id="txtRecordUsers" type="text" name="RecordUsers" lay-verify="required" value="@Model.RecordUsers" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label"style="width:130px;"><em>*</em>是否异常整改</label>
                <div class="layui-input-inline"style="width:170px;"> 
                    <select id="txtNormState" name="NormState" lay-verify="required" class="select">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                    <input id="hdNormState" type="hidden" value="@Model.NormState" />
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">巡查得分</label>
                <div class="layui-input-inline">
                    <input id="txtRecordScore" type="text" name="RecordScore" value="@Model.RecordScore" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">记录备注</label>
                <div class="layui-input-block"> 
                    <textarea id="txtRecordRemark" name="RecordRemark" class="layui-textarea">@Model.RecordRemark</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">异常备注</label>
                <div class="layui-input-block">
                    <textarea id="txtNormRemark" name="NormRemark"   class="layui-textarea">@Model.NormRemark</textarea>
                </div>
            </div>
        </div>
    </div>
    
    <div class="layui-card">
        <div class="layui-card-header">附件信息 </div>
        <div class="layui-card-body" style="overflow:hidden;">
            <div class="layui-form-item" style="margin-top:10px;">
                <input type="hidden" id="hdfiles" value="@ViewBag.files" />
                <input type="hidden" id="hdoldfiles" value="@ViewBag.oldfiles" name="SuppOldFileList" />
                <input type="hidden" id="hdfilelist" name="TraPatrolRecordFileList" />
                <div class="layui-input-inline" style="width:800px;overflow:hidden;">
                    <div class="layui-btn-group" style="float:left;overflow:hidden;">
                        <div class="layui-inline">
                            <div class="layui-btn layui-btn-normal" id="btnUpload">上传文件</div>
                        </div>
                    </div>
                </div>
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>文件类型</th>
                            <th>文件地址</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="filelist"></tbody>
                </table>
                <script type="text/html" id="temfilelist">
                    {{each list as c}}
                    <tr>
                        <td>{{c.filename}}</td>
                        <td>{{c.path}}</td>
                        <td><a class="layui-btn layui-btn-danger layui-btn-sm" onclick="delfilelist('{{c.id}}')">删除</a></td>
                    </tr>
                    {{/each}}
                </script>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="width:20%;margin:0 auto !important;">
                    <button class="layui-btn" lay-submit="" lay-filter="btnSave">保存</button>
                    <a class="layui-btn" id="btnGoBack">返回</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script>
        var filelist = [];
        function initfiles() {
            $("#filelist").html(template('temfilelist', { list: filelist }));
            $("#hdfilelist").val(JSON.stringify(filelist));
        }
        //删除文件
        function delfilelist(ids) {
            var tem = [];
            for (var i in filelist) {
                if (filelist[i].id != ids) {
                    tem.push(filelist[i]);
                }
            }

            filelist = tem;
            initfiles();
        }
        //设置文件名称
        function setfilename(ids, names) {
            for (var i in filelist) {
                if (filelist[i].id == ids) {
                    filelist[i].filename = names;
                }
            }
            $("#hdfilelist").val(JSON.stringify(filelist));
        }
        //文件下载
        function downfile(ids) {
            for (var i in filelist) {
                if (filelist[i].id == ids) {
                    location.href = '/index/down?url=' + filelist[i].path + "&name=" + filelist[i].filename + "&ext=" + filelist[i].ext;
                }
            }
        }

        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;
             
            //巡查时间
            laydate.render({
                elem: '#txtRecordTime'
               , type: 'datetime'
               , format: 'yyyy/MM/dd HH:mm:ss'
            });

            form.verify({
                traPatrol: function (value, item) {
                    if (!value) {
                        return '巡查维护信息不能为空！';
                    }
                }
            });

            // 上传文件
            $(document).on('click', '#btnUpload', function () {
                top.window.filedialog = top.layui.layer.open({
                    type: 2,
                    shade: 0.2,
                    title: '文件上传',
                    content: '/supplier/SupplierTransport/files?url=/Tra/TraPatrolRecord/Index&type=record',
                    area: ['450px', '300px'],
                });
            }); 

            ////文件上传
            //layui.upload.render({
            //    elem: '#btnUpload'
            //   , url: '/index/upload?type=tra'
            //   , accept: 'file'
            //   , auto: true
            //   , done: function (res) {
            //       if (res.flag == "ok") {
            //           filelist.push({ id: new Date().getTime(), path: res.path, filename: res.filename, ext: res.ext });
            //           initfiles();
            //       }
            //       return false;
            //   }
            //});

            // 保存
            form.on('submit(btnSave)', function (data) {
                $.ajax({
                    type: "POST",
                    url: "/Tra/TraPatrolRecord/EditTraPatrolRecord",
                    data: data.field,
                    async: false,
                    success: function (data) {
                        if (data.flag == 'success') {
                            layui.layer.msg('修改成功');
                            location.href = '/Tra/TraPatrolRecord/Index';
                        }
                    }
                });
                return false;
            });
        });

        // 页面加载事件
        $(function () {
            // 巡查维护信息
            $(document).on('click', '#btnTraPatrol', function () {
                GetTraPatrol();
            });

            $("#txtPatrolType").val($("#hdPatrolType").val());//为巡查类型赋值

            $("#txtNormState").val($("#hdNormState").val());//为巡查类型赋值

            //修改上传文件名称
            $(document).on('click', '.modify', function () {
                var td = $(this);
                var txt = $.trim(td.text());
                var input = td.data("type") == "area" ? $("<textarea>" + $.trim(td.html().replace(/<br>/g, "\n")) + "</textarea>") : $("<input type='text'value='" + txt + "'/>");
                input.width(td.width() + 10).height(td.height() + 10);
                td.html(input);
                input.click(function () { return false; });
                input.trigger("focus");
                input.blur(function () {
                    var str = input.val().replace(/\n/g, '<br>')
                    if (!str) {
                        layui.layer.msg('文件名称不能为空');
                        td.html(txt);
                        return;
                    }
                    td.html(str);
                    setfilename(td.data("id"), str);
                });

                return false;
            });
            filelist = JSON.parse($("#hdfiles").val());
            initfiles();

            // 关闭按钮
            $(document).on('click', '#btnGoBack', function () {
                location.href = '/Tra/TraPatrolRecord/Index';
            });
        });

        //添加新文件(新增)
        function setnewfiles(filename, path) {
            filelist.push({ id: new Date().getTime(), path: path, filename: filename, ext: '' });
            initfiles();
        }

        // 设置巡查维护信息
        function setinfo(id, patroltype, patrolcontent, patrolremark) {
            $("#hdPatrolId").val(id);
            $("#txtPatrolType").val(patroltype);
            $("#txtPatrolContent").val(patrolcontent);
            $("#txtPatrolRemark").val(patrolremark);
        }

        // 巡查维护信息
        function GetTraPatrol() {
            top.window.topdialog = top.layui.layer.open({
                type: 2,
                shade: 0.2,
                title: '巡查维护信息',
                content: '/Tra/TraPatrolRecord/TraPatrolRecordDetail?url=/Tra/TraPatrolRecord/Index',
                area: ['1100px', '600px'],
            });
        }
    </script>
}
