@{
    ViewBag.Title = "Check";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@model SRM.Model.Storage.StorageSupplierStartModel
<form class="layui-form layui-form-pane">
    <div class="layui-card">
        <div class="layui-card-header">仓储选择申请信息</div>
        <div class="layui-card-body" style="overflow:hidden;">
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">申请负责人</label>
                <div class="layui-input-inline">
                    <input id="txtApplyUser" type="text" value="@Model.ApplyUser" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">申请时间</label>
                <div class="layui-input-inline">
                    <input id="txtApplyTime" type="text" value="@Model.ApplyTime" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">申请内容</label>
                <div class="layui-input-inline">
                    <input id="txtApplyContent" type="text" value="@Model.ApplyContent" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">申请备注</label>
                <div class="layui-input-inline">
                    <input id="txtApplyRemark" type="text" value="@Model.ApplyRemark" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">意向供应商</label>
                <div class="layui-input-inline">
                    <input id="txtSupplierName" type="text" value="@Model.SupplierName" class="layui-input" disabled>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">仓储供应商信息</div>
        <div class="layui-card-body" style="overflow:hidden;"> 
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label"style="width:130px;">正式运作时间</label>
                <div class="layui-input-inline"style="width:170px;">
                    <input id="txtOfficialTime" type="text" name="OfficialTime" value="@Model.OfficialTime" lay-verify="required" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">参与培训</label>
                <div class="layui-input-block">
                    <input @(Html.Raw(Model.IsCultivate == 1 ? "checked" : "")) type="checkbox" lay-skin="switch" lay-filter="isCultivate" lay-text="是|否" disabled>
                    <input id="hdIsCultivate" type="hidden" name="IsCultivate" value="@Model.IsCultivate" />
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">签订合同</label>
                <div class="layui-input-block">
                    <input @(Html.Raw(Model.SignContract == 1 ? "checked" : "")) type="checkbox" lay-skin="switch" lay-filter="signContract" lay-text="是|否" disabled>
                    <input id="hdSignContract" type="hidden" name="SignContract" value="@Model.SignContract" />
                </div>
            </div>
            <div  id="divContractBeginTime"  class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">合同开始时间</label>
                <div class="layui-input-inline">
                    <input id="txtContractBeginTime" type="text" name="ContractBeginTime" value="@Model.ContractBeginTimes" lay-verify="required" class="layui-input" disabled>
                </div>
            </div>
            <div id="divContractEndTime" class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">合同结束时间</label>
                <div class="layui-input-inline">
                    <input id="txtContractEndTime" type="text" name="ContractEndTime" value="@Model.ContractEndTimes" lay-verify="required" class="layui-input" disabled>
                </div>
            </div>
            <div id="divContractNumber"  class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">合同编号</label>
                <div class="layui-input-inline">
                    <input id="txtContractNumber" type="text" name="ContractNumber" value="@Model.ContractNumber" lay-verify="required" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">结账周期</label>
                <div class="layui-input-inline">
                    <input id="txtAccountsPeriod" type="text" name="AccountsPeriod" value="@Model.AccountsPeriod" lay-verify="required" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">押金金额</label>
                <div class="layui-input-inline">
                    <input id="txtDeposit" type="text" name="Deposit" value="@Model.Deposit" lay-verify="required|Deposit" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" >
                <label class="layui-form-label" >供应商编号</label>
                <div class="layui-input-block"> 
                    <textarea id="txtStorageNumber" name="StorageNumber" lay-verify="required" class="layui-textarea" maxlength="100" disabled>@Model.SCMNumber</textarea>
                    <input name="StorageStartId" type="hidden" value="@Model.StorageStartId" />
                    <input name="SupplierId" type="hidden" value="@Model.SupplierId" />
                </div>
            </div>
            <div class="layui-form-item" >
                <label class="layui-form-label">采购编号</label>
                <div class="layui-input-block">
                     <textarea id="txtProcurementNumber" name="ProcurementNumber" lay-verify="required" class="layui-textarea" maxlength="100" disabled>@Model.ProcurementNumber</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">培训简介</label>
                <div class="layui-input-block">
                    <textarea id="txtCultivateIntro" name="CultivateIntro" lay-verify="required" class="layui-textarea" disabled>@Model.CultivateIntro</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">合作事项说明</label>
                <div class="layui-input-block">
                    <textarea id="txtCooperationRemark" name="CooperationRemark" lay-verify="required" class="layui-textarea" disabled>@Model.CooperationRemark</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">附件信息 </div>
        <div class="layui-card-body" style="overflow:hidden;">
            @*<label style="color:lightcoral">温馨提示：单击文件名修改名称❀</label>*@
            <div class="layui-form-item" style="margin-top:10px;">
                <input type="hidden" id="hdfiles" value="@ViewBag.files" />
                <input type="hidden" id="hdoldfiles" value="@ViewBag.oldfiles" name="SuppOldFileList" />
                <input type="hidden" id="hdfilelist" name="SuppFileListes" />
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>文件类型</th>
                            <th>文件地址</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="filelist"></tbody>
                </table>
                <script type="text/html" id="temfilelist">
                    {{each list as c}}
                    <tr>
                        <td>{{c.filename}}</td>
                        <td>{{c.path}}</td>
                        <td><a class="layui-btn layui-btn-danger layui-btn-sm" onclick="downfile('{{c.id}}')">下载</a></td>
                    </tr>
                    {{/each}}
                </script>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="width:30%;margin:0 auto !important;"> 
                    <a class="layui-btn" id="btnGoBack">返回</a>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script>
        var filelist = [];
        function initfiles() {
            $("#filelist").html(template('temfilelist', { list: filelist }));
            $("#hdfilelist").val(JSON.stringify(filelist));
        }
        //设置文件名称
        function setfilename(ids, names) {
            for (var i in filelist) {
                if (filelist[i].id == ids) {
                    filelist[i].filename = names;
                }
            }
            $("#hdfilelist").val(JSON.stringify(filelist));
        }
        //文件下载
        function downfile(ids) {
            for (var i in filelist) {
                if (filelist[i].id == ids) {
                    if (filelist[i].path.lastIndexOf('.') != -1) {
                        var lastnum = filelist[i].path.lastIndexOf('.');
                        var exts = filelist[i].path.substring(lastnum + 1);
                        location.href = '/index/down?url=' + filelist[i].path + "&name=" + filelist[i].filename + "&ext=" + exts;
                    } 
                }
            }
        }

        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;

            // 开关
            form.on('switch(signContract)', function (data) {
                $("#hdSignContract").val(this.checked ? "1" : "0");

                if ($("#hdSignContract").val() == 1) {
                    $("#divContractBeginTime").show();
                    $("#divContractEndTime").show();
                    $("#divContractNumber").show(); 

                }
                else if ($("#hdSignContract").val() == 0) {
                    $("#divContractBeginTime").hide();
                    $("#divContractEndTime").hide();
                    $("#divContractNumber").hide();
                    $("#txtContractBeginTime").val("")
                    $("#txtContractEndTime").val("")
                    $("#txtContractNumber").val("")
                }
            });
        });

        $(function () {

            // 公式计算
            if ($("#hdSignContract").val() == 0) {
                $("#divContractBeginTime").hide();
                $("#divContractEndTime").hide();
                $("#divContractNumber").hide();
                $("#txtContractBeginTime").val("")
                $("#txtContractEndTime").val("")
                $("#txtContractNumber").val("")
            }
            else {
                $("#divContractBeginTime").show();
                $("#divContractEndTime").show();
                $("#divContractNumber").show();
            }

            //修改上传文件名称
            $(document).on('click', '.modify', function () {
                var td = $(this);
                var txt = $.trim(td.text());
                var input = td.data("type") == "area" ? $("<textarea>" + $.trim(td.html().replace(/<br>/g, "\n")) + "</textarea>") : $("<input type='text'value='" + txt + "'/>");
                input.width(td.width() + 10).height(td.height() + 10);
                td.html(input);
                input.click(function () { return false; });
                input.trigger("focus");
                input.blur(function () {
                    var str = input.val().replace(/\n/g, '<br>')
                    if (!str) {
                        layui.layer.msg('文件名称不能为空');
                        td.html(txt);
                        return;
                    }
                    td.html(str);
                    setfilename(td.data("id"), str);
                });

                return false;
            });
            filelist = JSON.parse($("#hdfiles").val());
            initfiles();

            // 返回
            $(document).on('click', '#btnGoBack', function () {
                location.href = '/Storage/StorageSupplierStart/Index';
            });
        });
    </script>
}

