@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@model SRM.Model.Storage.StorageFromModel
<style>
    .pagedetaila {
        position: absolute;
        right: 60px;
        font-size: 14px;
        color: #333;
        top: 5px;
    }
</style>
<form class="layui-form layui-form-pane" action="/Tra/TraAssessFrom/AddTraAssessFrom" method="post">
    <div class="layui-card" style="overflow:hidden;">
        <div class="layui-card-header">运输评估模板建立修改</div>
        <div class="layui-card-body">
            <div class="layui-form-item">
                <label class="layui-form-label">评估类型</label>
                <div class="layui-input-inline">
                    <input type="hidden" id="hdFromId" name="FromId" value="@Model.FromId" />
                    <input type="hidden" id="hdFromType" value="@Model.FromType" />
                    <select id="selFromType" name="FromType" lay-verify="required" class="select">
                        <option value="">请选择评估类型</option>
                        <option value="0">仓储评估</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">合作最小值</label>
                <div class="layui-input-inline">
                    <input id="txtAdoptMin" name="AdoptMin" type="text" value="@Model.AdoptMin" placeholder="合作最小值" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分母</label>
                <div class="layui-input-inline">
                    <input id="txtDenominator" name="Denominator" type="text" value="@Model.Denominator" placeholder="分母" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">分子</label>
                <div class="layui-input-inline">
                    <input id="txtMolecule" name="Molecule" type="text" value="@Model.Molecule" placeholder="分子" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">乘数常量</label>
                <div class="layui-input-inline">
                    <input id="txtConstant" name="Constant" type="text" value="@Model.Constant" placeholder="乘数常量" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">说明</label>
                <div class="layui-input-block">
                    <textarea id="txtFromRemark" name="FromRemark" lay-verify="required" maxlength="100" class="layui-textarea" style="height:100px;">@Model.FromRemark</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">自定义元件信息</div>
        <div class="layui-card-body" style="overflow:hidden;">
            <input type="hidden" id="hdComponentId" name="ComponentIdList" />
            <div class="layui-form-item" style="width:12%;">
                <div class="layui-btn" id="btnComponent" style="width:100%;" title="点击新增自定义元件">新增自定义元件</div>
            </div>
            <div class="layui-form">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th style="text-align:left;">元件编号</th>
                            <th>元件名称</th>
                            <th>评估类型</th>
                            <th>标准得分</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="ComponentList" style="min-height:400px;"></tbody>
                </table>
                <div id="pageinfos" class="pagebox">
                    <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
                </div>
                <script type="text/html" id="temslist">
                    {{each list as c}}
                    <tr>
                        <td>{{c.ComponentNumber}}</td>
                        <td>{{c.ComponentName}}</td>
                        <td>{{c.AssessTypeName}}</td>
                        <td>{{c.StandardScore}}</td>
                        <td>
                            <a class="layui-btn layui-btn-sm btnDelete" data-id="{{c.FromComponentId}}">
                                <i class="iconfont icon-edit"></i>
                                删除
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </script>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">模版附件类型信息</div>
        <div class="layui-card-body" style="overflow:hidden;">
            <div class="layui-form-item" style="width:14%;">
                <input type="hidden" id="hdAdjunctType" name="AdjunctList" />
                <div class="layui-btn" id="btnAdjunctType" style="width:100%;" title="点击新增模版附件类型">新增模版附件类型</div>
            </div>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>附件名称</th>
                        <th>附件唯一</th>
                        <th>说明</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="AdjunctTypeList"></tbody>
            </table>
            <script type="text/html" id="temfilelist">
                {{each list as c}}
                <tr data-id="{{c.FromAdjunctId}}">
                    <td>{{c.AdjunctName}}</td>
                    <td>{{c.AdjunctOnlyName}}</td>
                    <td>{{c.Remark}}</td>
                    <td>
                        <a class="layui-btn layui-btn-danger layui-btn-sm" onclick="DelAdjunctType('{{c.FromAdjunctId}}')">
                            删除
                        </a>
                    </td>
                </tr>
                {{/each}}
            </script>

            <div id="pageinfosa" class="pagebox">
                <div id="Paginationa" class="pagination"></div><div class="pagedetaila">共0条记录</div>
            </div>

            <div class="layui-form-item" style="margin-top:30px;">
                <div class="layui-input-block" style="width:20%;margin:0 auto !important;">
                    <button class="layui-btn" lay-submit="" lay-filter="btnSave">保存</button>
                    <a class="layui-btn" id="btnGoBack">返回</a>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script>

        // 元件ID数组
        var componentIds = [];

        // 附件类型数组
        var adjunctTypeList = [];

        // 新增模板附件类型
        function AddAdjunctType() {
            $("#AdjunctTypeList").html(template('temfilelist', { list: adjunctTypeList }));
            $("#hdAdjunctType").val(JSON.stringify(adjunctTypeList));
        }

        // 删除模板附件类型
        function DelAdjunctType(tId) {
            var tem = [];
            for (var i in adjunctTypeList) {
                if (adjunctTypeList[i].CheckFromAdjunctId != tId) {
                    tem.push(adjunctTypeList[i]);
                }
            }
            adjunctTypeList = tem;
            AddAdjunctType();
        }

        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;

            var valueId = $("#hdFromType").val();
            //alert(valueId);
            $("#selFromType").val(valueId);
            form.render();

            // 新增自定义元件
            $(document).on('click', '#btnComponent', function () {
                if ($("#selFromType").val() == "") {
                    layui.layer.msg('请选择评估类型！');
                    return false;
                }
                GetComponent();
            });

            // 新增模版附件类型
            $(document).on('click', '#btnAdjunctType', function () {
                GetAdjunctType();
            });

            // 提交保存
            form.on('submit(btnSave)', function (data) {
                $.ajax({
                    type: "POST",
                    url: "/Storage/StorageFrom/Edit",
                    data: data.field,
                    async: false,
                    success: function (data) {
                        if (data.flag == 'success') {
                            layui.layer.msg('添加成功！');
                            location.href = '/Storage/StorageFrom/Index';
                        }
                        if (data.flag == "fail") {
                            layui.layer.msg('信息添加失败！');
                        }
                    }
                });
                return false;
            });

            // 返回
            $(document).on('click', '#btnGoBack', function () {
                location.href = '/Storage/StorageFrom/Index';
            });
        });

        var tId = $("#hdFromId").val();

        $(function () {

            SearchData(tId);

            SearchDataAdjunct(tId);
            InitCusTableAdjunct();
            // 删除元件
            $(document).on('click', '.btnDelete', function () {
                var FromComponentId = $(this).data("id");
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '/Storage/StorageFrom/DelStorageFromComponentById',
                    data: { id: FromComponentId },
                    success: function (data) {
                        if (data.flag == "success") {
                            SearchData(tId);
                        }
                        if (data.flag == "fail") {
                            layui.layer.msg('信息删除失败！');
                        }
                    }
                });
                //var index = componentIds.indexOf(tId);
                //componentIds.splice(index, 1);
                //$("#hdComponentId").val(componentIds.join(","));
                //var ids = $("#hdComponentId").val();
                //SearchData(ids);
            });
        });

        // 定义页面索引及显示条数
        var pageIndex = 0;
        var pageSize = 15;

        // 查询总记录数
        function SearchData(tId) {

            // 总记录数
            var amount = 0;

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#ComponentList").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/Storage/StorageFrom/ComponentAmount",
                async: false,
                data: {
                    fromId: tId
                },
                success: function (data) {
                    amount = data;
                    $(".pagedetail").text("共" + amount + "条");
                }
            });

            // 分页配置
            $("#Pagination").pagination(amount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfCus(indexs) {
            pageIndex = indexs;
            InitCusTable(indexs);
        }

        // 查询数据
        function InitCusTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                fromId: $("#hdFromId").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Storage/StorageFrom/ComponentList',
                data: userjosn,
                success: function (data) {
                    $("#ComponentList").html(template('temslist', { list: data }));
                    $("#pageinfos").show();
                    if (data == null) {
                        $("#pageinfos").hide();
                        $("#ComponentList").html("<div class='nodata'>暂无数据</div>")
                    }
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#ComponentList").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }

        // 获取元件ID
        function ComponentSetinfo(ids) {
            if ($("#hdComponentId").val() == "") {
                $("#hdComponentId").val(ids);
            }
            else {
                var tId = $("#hdComponentId").val();
                $("#hdComponentId").val(tId + "," + ids);
            }

            var tempComponentIds = $("#hdComponentId").val().split(',');
            componentIds = tempComponentIds.map(function (data) {
                return +data;
            });
            SearchData($("#hdComponentId").val());
        }

        // 新增自定义元件
        function GetComponent() {
            top.window.topdialog = top.layui.layer.open({
                type: 2,
                shade: 0.2,
                title: '自定义元件新增',
                content: '/Storage/StorageFrom/Component?url=/Storage/StorageFrom/Index&tId=' + $("#hdFromId").val() + '&tFromType=' + $("#selFromType").val() + "&tType=edit",
                area: ['1000px', '600px'],
            });
        }

        // 新增模版附件类型
        function GetAdjunctType() {
            top.window.topdialog = top.layui.layer.open({
                type: 2,
                shade: 0.2,
                title: '新增模版附件类型',
                content: '/Storage/StorageFrom/AdjunctType?url=/Storage/StorageFrom/Index&fromId=' + $("#hdFromId").val() + '&type=edit',
                area: ['600px', '400px'],
            });
        }

        // 模版附件类型附件名称重复判断
        function isRename(adjunctName) {
            for (var i in adjunctTypeList) {
                if (adjunctTypeList[i].AdjunctName == adjunctName) {
                    return true;
                }
            }
            return false;
        }

        // 添加新模版附件类型
        function SaveAdjunctType(adjunctName, adjunctOnly, remark) {
            adjunctTypeList.push({ CheckFromAdjunctId: new Date().getTime(), AdjunctName: adjunctName, AdjunctOnlyName: adjunctOnly, Remark: remark });
            AddAdjunctType();
        }

        function SearchComponentData() {
            SearchData($("#hdFromId").val());
        }
        function SearchAdjunctTypeData()
        {
            SearchDataAdjunct($("#hdFromId").val());
        }
        ////////////////////////////////     附件表分页列表     //////////////////////////////////////////////
        // 查询总记录数
        function SearchDataAdjunct(tId) {

            // 总记录数
            var amount = 0;

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#AdjunctTypeList").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/Storage/StorageFrom/FromAdjunctAmount",
                async: false,
                data: {
                    fromId: tId
                },
                success: function (data) {
                    amount = data;
                    $(".pagedetaila").text("共" + amount + "条");
                }
            });

            // 分页配置
            $("#Paginationa").pagination(amount, {
                callback: PageCallbackOfCusAdjunct,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfCusAdjunct(indexs) {
            pageIndex = indexs;
            InitCusTableAdjunct(indexs);
        }

        // 查询数据
        function InitCusTableAdjunct(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                fromId: $("#hdFromId").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Storage/StorageFrom/FromAdjunctList',
                data: userjosn,
                success: function (data) {
                    $("#AdjunctTypeList").html(template('temfilelist', { list: data }));
                    $("#pageinfosa").show();
                    if (data == null) {
                        $("#pageinfosa").hide();
                        $("#AdjunctTypeList").html("<div class='nodata'>暂无数据</div>")
                    }
                    if (data.length == 0) {
                        $("#pageinfosa").hide();
                        $("#AdjunctTypeList").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }

    </script>
}