@{
    Layout = "~/Views/Shared/_home.cshtml";
}
<form class="layui-form layui-form-pane">
    <div class="layui-card">
        <div class="layui-card-body" style="overflow:hidden;">
            @*<div class="layui-form-item">
                <div class="layui-btn" id="btnDistributor" title="点击选取配送人员">选取变更配送人员</div>
            </div>*@
            <div class="layui-card-header">运输供应商信息</div>
            <div class="layui-form-item">
                <label class="layui-form-label">运供应商名称</label>
                <div class="layui-input-inline" style="width:440px;">
                    <input id="txtSupplierName" type="text" class="layui-input" lay-verify="supplier" value="@Model.TransportSupplierName" disabled>
                    @*<input id="hdDistributorUserId" type="hidden" value="@ViewBag.userid" placeholder="配送员ID" />
                    <input id="adjustId" type="hidden" value="@ViewBag.adjustId" placeholder="调整ID" />*@
                </div>
                <label class="layui-form-label">配送范围</label>
                <div class="layui-input-inline" style="width:150PX;clear:none !important; float:left;">
                    <input id="txtDistributionScopeName" type="text" class="layui-input" lay-verify="supplier" value="@Model.DistributionScopeName" disabled>
                </div>
            </div>
            <div class="layui-card-header">配送人员信息</div>
            <div class="layui-form-item">
                <label class="layui-form-label">配送人员ID</label>
                <div class="layui-input-inline">
                    <input id="txtDistributorNumber" type="text" value="@Model.DistributorNumber" class="layui-input" disabled>
                </div>
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-inline">
                    <input id="txtDistributorContact" type="text" value="@Model.DistributorContact" class="layui-input" disabled>
                </div>
                <label class="layui-form-label">性别</label>
                <div class="layui-input-inline">
                    <input id="txtDistributorSex" type="text" value="@Model.DistributorSex" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">年龄</label>
                <div class="layui-input-inline">
                    <input id="txtDistributorAge" type="text" value="@Model.DistributorAge" class="layui-input" disabled>
                </div>
                <label class="layui-form-label">当前星级</label>
                <div class="layui-input-inline">
                    <input id="txtGrade" type="text" value="@Model.Grade" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">卸货地址</label>
                <div class="layui-input-inline">
                    <input id="txtUnloading" type="text" value="@Model.Unloading" class="layui-input" disabled>
                </div>
                <label class="layui-form-label">路由地点</label>
                <div class="layui-input-inline">
                    <input id="txtRoute" type="text" value="@Model.Route" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">运作时间</label>
                <div class="layui-input-inline">
                    <input id="txtSubmitTime" type="text" value="@Model.SubmitTime" class="layui-input" disabled>
                </div>
            </div> 
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">调整信息</div>
        <div class="layui-form-item">
            @*<label class="layui-form-label">配送人员ID</label>
            <div class="layui-input-inline">
                <input id="txtBeforeDistributorNumber" type="text" value="@Model.DistributorNumber" name="BeforeDistributorNumber" placeholder="修改前配送人员ID" class="layui-input" disabled>
            </div>*@
            @*<div class="layui-input-inline">
                <input id="txtAfterDistributorNumber" type="text" value="@ViewBag.number" name="AfterDistributorNumber" placeholder="输入修改后配送人员ID" maxlength="50" class="layui-input" disabled>
            </div>*@
            <label class="layui-form-label">配送人员</label>
            <div class="layui-input-inline">
                <input id="txtBeforeDistributorName" type="text" value="@Model.DistributorName" name="BeforeDistributorName" placeholder="修改前姓名" class="layui-input" disabled>
            </div>
            <div class="layui-input-inline">
                <input id="txtAfterDistributorName" type="text" value="@ViewBag.name" name="AfterDistributorName" placeholder="输入修改后姓名" maxlength="50" class="layui-input" disabled>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-form-item">
            <label class="layui-form-label">调整备注</label>
            <div class="layui-input-inline" style="width:900px;">
                <input id="txtRemark" type="text" name="Remark" value="@ViewBag.remark" placeholder="调整备注" maxlength="50" class="layui-input" disabled>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-form-item">
            <div class="layui-input-block" style="width:20%;margin:0 auto !important;"> 
                <a class="layui-btn" id="btnGoBack">返回</a>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script>
    layui.use(['form', 'element', 'laydate', 'upload'], function () {
        var form = layui.form, ele = layui.element, laydate = layui.laydate; 
    })

    $(function () {
        // 返回
        $(document).on('click', '#btnGoBack', function () {
            location.href = '/Tra/TraDistributorAdjust/Index';
        });
        
    }) 

    </script>
}