@{
    ViewBag.Title = "Audit";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@model Model.Basis.BasisMessageAuditModel
<form class="layui-form layui-form-pane">
    <div class="layui-card">
        <div class="layui-card-header">编辑信息预登记</div>
        <div class="layui-card-body">
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">信息类型</label>
                <div class="layui-input-inline">
                    <input type="text" name="DictionaryName" value="@Model.DictionaryName" placeholder="" class="layui-input" disabled>
                    <input id="hdCompanyID" type="hidden" name="CompanyId" value="@Model.CompanyId" />
                    <input type="hidden" name="MessageId" value="@Model.MessageId" />
                    <input id="hdDictionaryId" type="hidden" name="DictionaryId" value="@Model.DictionaryId" />
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">信息置顶</label>
                <div class="layui-input-inline">
                    <select id="txtMessageTop" name="MessageTop" lay-verify="required" class="select" disabled>
                        <option value="0">是</option>
                        <option value="1">否</option>
                    </select>
                    <input id="hdMessageTop" type="hidden" value="@Model.MessageTop" />
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">信息状态</label>
                <div class="layui-input-inline">
                    <select type="text" name="MessageState" lay-filter="isMessageState" placeholder="" class="layui-input" id="txtMessageState" >
                        <option value="2">审核通过</option>
                        <option value="3">审核未通过</option>
                    </select>
                    <input id="hdMessageState" type="hidden" name="IsTurnover" value="@Model.MessageState" />
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">使用开始时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="BeginTime" value="@Model.BeginTime" placeholder="" class="layui-input" id="txtBeginTime" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">使用结束时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="EndTime" value="@Model.EndTime" placeholder="" class="layui-input" id="txtEndTime" disabled>
                </div>
            </div> 
            <div class="layui-form-item">
                <label class="layui-form-label">信息标题</label>
                <div class="layui-input-block">
                    <textarea id="txtMessageTitle" name="MessageTitle" lay-verify="required" maxlength="50" class="layui-textarea" disabled>@Model.MessageTitle</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">信息内容</label>
                <div class="layui-input-block">
                    <textarea id="txtMessageContent" name="MessageContent" lay-verify="required" maxlength="500" class="layui-textarea" disabled>@Model.MessageContent</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">信息备注</label>
                <div class="layui-input-block">
                    <textarea id="txtMessageRemark" name="MessageRemark" lay-verify="required" maxlength="100" class="layui-textarea" disabled>@Model.MessageRemark</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">附件信息 </div>
        <div class="layui-card-body" style="overflow:hidden;">
            @*<label style="color:lightcoral;">温馨提示：单击文件名称可修改名称</label>*@
            <div class="layui-form-item" style="margin-top:10px;">
                <input type="hidden" id="hdfiles" value="@ViewBag.files" />
                <input type="hidden" id="hdoldfiles" value="@ViewBag.oldfiles" name="SuppOldFileList" />
                <input type="hidden" id="hdfilelist" name="SuppFileLists" />
                <div class="layui-input-inline" style="width:800px;overflow:hidden;">
                    <div class="layui-btn-group" style="float:left;overflow:hidden;">
                        <div class="layui-inline">
                            @*<div class="layui-btn layui-btn-normal" id="btnUpload">上传文件</div>
                                </div>*@
                        </div>
                        <div id="filelist" style="float:left;margin-right:5px;margin-bottom:5px;">

                        </div>
                        <script type="text/html" id="temfilelist">
                            {{each list as c}}
                            <div class="layui-btn-group" style="margin-bottom:5px;">
                                <div class="layui-btn layui-btn-primary">
                                    <span class="modify" data-id="{{c.id}}">{{c.filename}}</span>{{c.ext}}
                                    <em onclick="downfile('{{c.id}}')"><i class="layui-icon layui-icon-download-circle"></i></em>
                                    @*<em onclick="delfilelist('{{c.id}}')"><i class="layui-icon layui-icon-close-fill"></i></em>*@
                                </div>
                            </div>
                            {{/each}}
                        </script>

                        <input id="hdTemSelectData" name="TemSelectData" type="hidden" />
                        <script type="text/html" id="temdictlist">
                            {{each list as c}}
                            <option value="{{c.id}}">{{c.name}}</option>
                            {{/each}}
                        </script>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-form-item">
                        <label class="layui-form-label">审核意见</label>
                        <div class="layui-input-block">
                            <textarea id="txtAuditRemark" placeholder="审核意见" name="ToRemark" lay-verify="required" maxlength="400" class="layui-textarea">@Model.ToRemark</textarea>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="btnSave">保存</button>
                        <a class="layui-btn" id="btnGoBack">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script>
        var filelist = [];
        function initfiles() {
            $("#filelist").html(template('temfilelist', { list: filelist }));
            $("#hdfilelist").val(JSON.stringify(filelist));
        }

        function downfile(ids) {
            for (var i in filelist) {
                if (filelist[i].id == ids) {
                    location.href = '/index/down?url=' + filelist[i].path + "&name=" + filelist[i].filename + "&ext=" + filelist[i].ext;
                }
            }
        }
        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;

            //提交时给信息置顶赋值
            form.on('switch(messageTop)', function (data) {
                $("#hdMessageTop").val(this.checked ? "1" : "0");
            });

            //验证开始时间
            laydate.render({
                elem: '#txtBeginTime'
              , type: 'datetime'
              , format: 'yyyy/MM/dd HH:mm:ss'
            });
            //验证结束时间
            laydate.render({
                elem: '#txtEndTime'
               , type: 'datetime'
               , format: 'yyyy/MM/dd HH:mm:ss'
            });
            //value：表单的值、item：表单的DOM对象
            form.verify({
                minvalue: function (value, item) {
                    if (!new RegExp("^([0-9])[0-9]*(\\.\\w*)?$").test(value)) {
                        return '只能输入数字或小数';
                    }
                }
            });
            //文件上传
            layui.upload.render({
                elem: '#btnUpload'
               , url: '/index/upload?type=message'
               , accept: 'file'
               , auto: true
               , done: function (res) {
                   if (res.flag == "ok") {
                       filelist.push({ id: new Date().getTime(), path: res.path, filename: res.filename, ext: res.ext });
                       initfiles();
                   }
                   return false;
               }
            });

            //保存按钮
            form.on('submit(btnSave)', function (data) {
                $.ajax({
                    type: "POST",
                    url: "/Basis/BasisMessageAudit/EditMessageAudit",
                    data: data.field,
                    async: false,
                    success: function (data) {
                        if (data.flag == 'success') {
                            layui.layer.msg('添加成功');
                            location.href = '/Basis/BasisMessageAudit/Index'
                        }
                        if (data.flag == "fail") {
                            layui.layer.msg('信息添加失败');
                        }
                    }
                });
                return false;
            });
        });

        // 返回事件
        $(function () {

            $("#txtMessageTop").val($("#hdMessageTop").val()); //信息置顶

            $(document).on('click', '#btnGoBack', function () {
                location.href = '/Basis/BasisMessageAudit/Index';
            });

            filelist = JSON.parse($("#hdfiles").val());
            initfiles();
        });

        // 获取公司ID及名称
        function setinfo(ids, names) {
            $("#hdCompanyID").val(ids);//公司id
            $("#hdCompanyName").val(names);//公司名称
        }

        // 获取参数
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    </script>
}
