@{
    ViewBag.Title = "Check";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@model SRM.Model.Tra.TraChooseModel

<form class="layui-form layui-form-pane"  method="post">
    <div class="layui-card">
        <div class="layui-card-header">招标信息</div>
        <div class="layui-card-body" style="overflow:hidden;">
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">申请编号</label>
                <div class="layui-input-inline">
                    <input id="txtTraChooseNumber" type="text" name="TraChooseNumber" value="@Model.TraChooseNumber" class="layui-input" disabled>
                    <input id="hdTraChooseId" name="TraChooseId" type="hidden" value="@Model.TraChooseId" />
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">申请机构</label>
                <div class="layui-input-inline">
                    <input id="txtDepartmentName" type="text" name="DepartmentName" value="@Model.DepartmentName" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">申请负责人</label>
                <div class="layui-input-inline">
                    <input id="txtApplyUser" type="text" name="ApplyUser" value="@Model.ApplyUser" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">申请时间</label>
                <div class="layui-input-inline">
                    <input id="txtApplyTime" type="text" name="ApplyTime" value="@Model.ApplyTime" class="layui-input" disabled>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-header">通知信息</div>
        <div class="layui-card-body" style="overflow:hidden;">
            @*<input type="hidden" id="hdId" name="Datalist" />*@
            <div class="layui-form">
                <table class="layui-table" >
                    <thead>
                        <tr>
                            <th style="text-align:left;">通知编号</th>
                            <th>暨邀请函名称</th>
                            <th>公司简介</th>
                            <th>招标原因</th>
                            <th>招标线路</th>
                            <th>货量信息</th>
                            <th>招标要求</th>
                            <th>招标开始时间</th>
                            <th>招标结束时间</th>
                            <th>招标备注</th>
                            <th>通知时间</th>
                            <th>通知负责人</th>
                        </tr>
                    </thead>
                    <tbody id="Datalist" style="min-height:400px;"></tbody>
                </table>
                <div id="pageinfos" class="pagebox">
                    <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
                </div>
                <script type="text/html" id="temslist">
                    {{each list as c}}
                    <tr>
                        <td>{{c.NotificationNumber}}</td>
                        <td>{{c.InvitationName}}</td>
                        <td>{{c.Expertise}}</td>
                        <td>{{c.NotificationCause}}</td>
                        <td>{{c.NotificationLines}}</td>
                        <td>{{c.CargoVolume}}</td>
                        <td>{{c.NotificationDemand}}</td>
                        <td>{{c.NotificationBeginTime}}</td>
                        <td>{{c.NotificationEndTime}}</td>
                        <td>{{c.NotificationRemark}}</td>
                        <td>{{c.NotificationTime}}</td>
                        <td>{{c.NotificationUser}}</td>
                    </tr>
                    {{/each}}
                </script>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">通知附件信息</div>
        <div class="layui-card-body" style="overflow:hidden;">
            <div class="layui-form-item" id="btnGroup">
                @*<a class="layui-btn layui-btn-primary" href="#">aa</a>*@
            </div>

            <script type="text/html" id="temfilelist">
                {{each list as c}}
                    <a class="layui-btn layui-btn-primary" href="{{c.FileUrl}}">{{c.FileName}}</a>&nbsp;&nbsp;
                {{/each}}
            </script>
            <div class="layui-form-item">
                <div class="layui-input-block" style="width:20%;margin:0 auto !important;">
                    <a class="layui-btn" id="btnGoBack">返回</a>
                </div>
            </div>
        </div>
    </div>
</form>
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

@section scripts{
    <script>
        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;


            // 返回按钮
            $(document).on('click', '#btnGoBack', function () {
                location.href = '/SupplierQuery/TraNotifyCheckInfo/Index';
            });

        });


        var tId = $("#hdTraChooseId").val();

        $(function () {
            InitCusTable();

            SearchData();

            InitAujunct();
        });

        // 定义页面索引及显示条数
        var pageIndex = 0;
        var pageSize = 15;

        // 查询总记录数
        function SearchData() {

            // 总记录数
            var amount = 0;

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#Datalist").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/SupplierQuery/TraNotifyCheckInfo/CheckAmount",
                async: false,
                data: {
                    tId: $("#hdTraChooseId").val()
                },
                success: function (data) {
                    amount = data;
                    $(".pagedetail").text("共" + amount + "条");
                }
            });

            // 分页配置
            $("#Pagination").pagination(amount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfCus(indexs) {
            pageIndex = indexs;
            InitCusTable(indexs);
        }

        // 查询数据
        function InitCusTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                tId: $("#hdTraChooseId").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/SupplierQuery/TraNotifyCheckInfo/CheckList',
                data: userjosn,
                success: function (data) {
                    $("#Datalist").html(template('temslist', { list: data }));
                    $("#pageinfos").show();
                    if (data == null) {
                        $("#pageinfos").hide();
                        $("#Datalist").html("<div class='nodata'>暂无数据</div>")
                    }
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#Datalist").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }
        /////////////////////////// 附件的分页 ////////////////////////////////

        function SetGroupBtn(btnName,btnUrl)
        {
            var btn = "<a class=\"layui-btn layui-btn-primary\" href=\"" + btnUrl + "\">" + btnName + "</a>";
        }

        // 查询数据
        function InitAujunct() {
            var userjosn = {
                tId: $("#hdTraChooseId").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/SupplierQuery/TraNotifyCheckInfo/AdjunctList',
                data: userjosn,
                success: function (data) {
                    $("#btnGroup").html(template('temfilelist', { list: data }));
                    
                }
            });
        }
    </script>
}
