@{
    ViewBag.Title = "Check";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@model SRM.Model.Tra.TraOperationClaimModel

<form class="layui-form layui-form-pane" method="post">
    <div class="layui-card">
        <div class="layui-card-header">培训情况</div>
        <div class="layui-card-body" style="overflow:hidden;">
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">培训编号</label>
                <div class="layui-input-inline">
                    <input id="hdOperationClaimId" name="OperationClaimId" type="hidden" value="@Model.OperationClaimId" />
                    <input id="txtOperationNumber" type="text" name="OperationNumber" value="@Model.OperationNumber" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">培训主题</label>
                <div class="layui-input-inline">
                    <input id="txtTheme" type="text" name="Theme" value="@Model.Theme" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">培训负责人</label>
                <div class="layui-input-inline">
                    <input id="txtRectificationUser" type="text" name="RectificationUser" value="@Model.RectificationUser" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">培训目的</label>
                <div class="layui-input-inline">
                    <input id="txtDestination" type="text" name="Destination" value="@Model.Destination" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item" style="width:33%;clear:none !important; float:left;">
                <label class="layui-form-label">培训方式</label>
                <div class="layui-input-inline">
                    <input id="txtTypeText" type="text" name="TypeText" value="@Model.TypeText" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea id="txtOperationClaimRemark"  name="OperationClaimRemark" lay-verify="required" maxlength="100" class="layui-textarea" style="height:100px;">  @Model.OperationClaimRemark</textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-header">附件信息</div>
        <div class="layui-card-body" style="overflow:hidden;">
            <div class="layui-form-item" id="btnGroup">
                @*<a class="layui-btn layui-btn-primary" href="#">aa</a>*@
            </div>

            <script type="text/html" id="temfilelist">
                {{each list as c}}
                <a class="layui-btn layui-btn-primary" href="{{c.FileUrl}}">{{c.FileName}}</a>&nbsp;&nbsp;
                {{/each}}
            </script>
            <div class="layui-form-item">
                <div class="layui-input-block" style="width:20%;margin:0 auto !important;">
                    <a class="layui-btn" id="btnGoBack">返回</a>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-header">运作供应商信息</div>
        <div class="layui-card-body" style="overflow:hidden;">
            <input type="hidden" id="hdComponentId" name="ComponentIdList" />
            <div class="layui-form">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th style="text-align:left;">运输供应商编号</th>
                            <th>供应商名称</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody id="dataList" style="min-height:400px;"></tbody>
                </table>
                <div id="pageinfos" class="pagebox">
                    <div id="Pagination" class="pagination"></div><div class="pagedetail">共0条记录</div>
                </div>
                <script type="text/html" id="temslist">
                    {{each list as c}}
                    <tr>
                        <td>{{c.TransportNumber}}</td>
                        <td>{{c.SupplierName}}</td>
                        <td>{{c.StateName}}</td>
                    </tr>
                    {{/each}}
                </script>
            </div>
        </div>
    </div>
</form>
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

@section scripts{
    <script>
        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;


            // 返回按钮
            $(document).on('click', '#btnGoBack', function () {
                location.href = '/SupplierQuery/TrainTotalQuery/Index';
            });

        });


        var tId = $("#hdOperationClaimId").val();

        $(function () {
            //查询
            SearchData();

            InitAujunct();

        });

        // 定义页面索引及显示条数
        var pageIndex = 0;
        var pageSize = 5;

        // 查询总记录数
        function SearchData() {

            // 总记录数
            var amount = 0;

            // 页面索引
            pageIndex = 0;

            // 等待时显示
            $("#dataList").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/SupplierQuery/TrainTotalQuery/",
                async: false,
                data: {
                    cId: $("#hdOperationClaimId").val()
                },
                success: function (data) {
                    amount = data;
                    $(".pagedetail").text("共" + amount + "条");
                }
            });

            // 分页配置
            $("#Pagination").pagination(amount, {
                callback: PageCallbackOfCus,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfCus(indexs) {
            pageIndex = indexs;
            InitCusTable(indexs);
        }

        // 查询数据
        function InitCusTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                cId: $("#hdOperationClaimId").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/SupplierQuery/TrainTotalQuery/GetCheckPartToLow',
                data: userjosn,
                success: function (data) {
                    $("#dataList").html(template('temslist', { list: data }));
                    $("#pageinfos").show();
                    if (data == null) {
                        $("#pageinfos").hide();
                        $("#dataList").html("<div class='nodata'>暂无数据</div>")
                    }
                    if (data.length == 0) {
                        $("#pageinfos").hide();
                        $("#dataList").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }
        /////////////////////////// 附件 ////////////////////////////////

        function SetGroupBtn(btnName,btnUrl)
        {
            var btn = "<a class=\"layui-btn layui-btn-primary\" href=\"" + btnUrl + "\">" + btnName + "</a>";
        }

        // 查询数据
        function InitAujunct() {
            var userjosn = {
                cId: $("#hdOperationClaimId").val()
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/SupplierQuery/TrainTotalQuery/AdjunctList',
                data: userjosn,
                success: function (data) {
                    $("#btnGroup").html(template('temfilelist', { list: data }));

                }
            });
        }
    </script>
}


