@{
    Layout = "~/Views/Shared/_Home.cshtml";
}
@model SRM.Web.Controllers.SysImportViewModel
<input id="hdExcelId" type="hidden" value="@ViewBag.ExcelId" />
<input id="hdExcelNumber" type="hidden" value="@ViewBag.ImportNumber" />
<input id="hdExcelModuleName" type="hidden" value="@ViewBag.ModuleName" /> 
<div class="layui-card-body">
    <blockquote class="layui-elem-quote"> 
        <div class="layui-form">
            <div class="layui-inline">
                <a class="layui-btn " id="btnExport">导出</a>
            </div>
            <div class="layui-inline">
                <a class="layui-btn " id="btnGoBack">返回</a> 
            </div>
            <br />
            <h4>页面只显示前200行数据!</h4> 
        </div>
    </blockquote>
    <div class="layui-form">
        <div class="forzenbox">
            <div class="normaltable">
                <table class="layui-table" id="tablelist">
                    <thead>
                        <tr>
                            @foreach (var item in Model.LisetModel)
                            { 
                              <th>@item.ViewColumn</th> 
                            } 
                        </tr>
                         @for (int i = 0; i < Model.DetailView.Rows.Count; i++)
                         {
                             <tr>
                                 @for (int j = 0; j < Model.ColumnCount; j++)
                                 {
                                    <td>@Model.DetailView.Rows[i][j]</td>
                                 }
                             </tr>
                         } 
                    </thead>
                    <tbody id="userlist" style="min-height:400px;"></tbody>
                    
                </table>
            </div>
        </div> 
    </div> 
</div>
@section scripts{
    <script>
        layui.use(['form', 'element', 'table', 'layer'], function () {
            var form = layui.form, ele = layui.element, table = layui.table;
        }); 
        $(function ()//页面加载
        { 
            // 返回
            $(document).on('click', '#btnGoBack', function () {
                location.href = '/SysImport/Import?ImportNumber=' + $("#hdExcelNumber").val() + '&ModuleName=' + $("#hdExcelModuleName").val();
            });
            // 导出
            $(document).on('click', '#btnExport', function () {
                top.window.export = top.layui.layer.load(1, { shade: [0.3, '#000'] });
                $.post('/SysImport/ExcelDetailView'
                    , {
                        importNumber: $("#hdExcelNumber").val(),//导入编号
                        excelId: $("#hdExcelId").val() //导入ID
                    }
                    , function (data) {
                        if (data.flag == 'fail') {
                            top.layui.layer.close(top.window.export);
                            top.layui.layer.msg(data.content);
                        }
                        if (data.flag == 'ok') {
                            location.href = '/excel/down?guid=' + data.guid + "&name=" + $("#hdExcelModuleName").val();
                            top.layui.layer.close(top.window.export);
                        }
                    }, 'json');
            });
        }
         ) 
    </script>
}

