@{
    ViewBag.Title = "AdjunctTypeDetail";
    Layout = "~/Views/Shared/_Home.cshtml";
}


@model SRM.Model.Tra.TraYearCheckFromAdjunctModel
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form layui-form-pane" action="/Tra/TraYearCheckFrom/EditYearCheckFromAdjunct" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>附件名称</label>
                <div class="layui-input-inline">
                    <input id="txtAdjunctName" name="AdjunctName" value="@Model.AdjunctName" type="text" maxlength="100" class="layui-input" lay-verify="required">
                    <input name="CheckFromAdjunctId" value="@Model.CheckFromAdjunctId" type="hidden" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>附件唯一</label>
                <div class="layui-input-block">
                    <input type="checkbox" @(Html.Raw(Model.AdjunctOnly == 1 ? "checked" : "")) lay-skin="switch" lay-filter="adjunctOnly" lay-text="是|否">
                    <input id="hdAdjunctOnly" name="AdjunctOnly" value="@Model.AdjunctOnly" type="hidden" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">说明</label>
                <div class="layui-input-block">
                    <textarea id="txtRemark" name="Remark" maxlength="100" class="layui-textarea" style="height:60px;">@Model.Remark</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left:180px;">
                    <button class="layui-btn" lay-submit="" lay-filter="btnSave">保存</button>
                    <a class="layui-btn" id="btnGoBack">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>
<input id="hdUrl" type="hidden" value="@ViewBag.url" />
@section scripts{
    <script>

        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;

            // 开关
            form.on('switch(adjunctOnly)', function (data) {
                $("#hdAdjunctOnly").val(this.checked ? "1" : "0");
            });

            // 提交保存
            form.on('submit(btnSave)', function (data) {
                $.ajax({
                    type: "POST",
                    url: "/Tra/TraYearCheckFrom/EditYearCheckFromAdjunct",
                    data: data.field,
                    async: false,
                    success: function (data) {
                        if (data.flag == 'success') {
                            layui.layer.msg('保存成功');
                            top.$.find('iframe[src="' + $("#hdUrl").val() + '"]')[0].contentWindow.SearchAdjunctTypeData();
                            top.layui.layer.close(top.window.topdialog);
                        }
                        if (data.flag == "fail") {
                            layui.layer.msg('保存失败');
                        }
                        if (data.flag == "exist") {
                            top.layer.msg(data.content);
                        }
                    }
                });
                return false;
            });

            // 返回
            $(document).on('click', '#btnGoBack', function () {
                top.layui.layer.close(top.window.topdialog);
            });
        });

        // 页面加载
        $(function () {
        });
    </script>
}