@{
    ViewBag.Title = "Reform";
    Layout = "~/Views/Shared/_Home.cshtml";
}
 
@model SRM.Model.Tra.TraAbnormityRecordModel
<form class="layui-form layui-form-pane" method="post">
    <input id="hdAbnormityId" value="@Model.AbnormityId" name="AbnormityId" type="hidden" />
    <input id="hdTransportId" value="@Model.TransportId" type="hidden" />
    <div class="layui-card">
        <div class="layui-card-header">异常整改信息</div>
        <div class="layui-card-body">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width:12%;"><em>*</em>整改类型</label>
                <div class="layui-input-inline" style="width:222px;">
                    <select class="select" id="selRectificationTypes" disabled>
                        <option value="" selected>请选择</option>
                        <option value="0">月绩效</option>
                        <option value="1">巡查</option>
                        <option value="2">综合</option>
                        <option value="3">日常运作</option>
                        <option value="10">其它</option>
                    </select>
                    <input id="hdRectificationTypes" value="@Model.RectificationTypes" type="hidden" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width:13%;"><em>*</em>整改计划完成时间</label>
                <div class="layui-input-inline" style="width:210px;">
                    <input id="txtRectificationFinishTime" value="@Model.RectificationFinishTime" type="text" class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>二次整改</label>
                <div class="layui-input-block">
                    <input @(Html.Raw(Model.TwoAbnormity == 1 ? "checked" : "")) type="checkbox" lay-skin="switch" lay-filter="twoAbnormity" lay-text="是|否" disabled>
                    <input id="hdTwoAbnormity" type="hidden" value="@Model.TwoAbnormity" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>需整改事项</label>
                <div class="layui-input-block">
                    <textarea id="txtRectificationContent" class="layui-textarea" disabled>@Model.RectificationContent</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>要求效果</label>
                <div class="layui-input-block">
                    <textarea id="txtEffect" class="layui-textarea" disabled>@Model.Effect</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea id="txtAbnormityRemark" class="layui-textarea" disabled>@Model.AbnormityRemark</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card" id="divMonthCheckList">
        <div class="layui-card-header">月度绩效信息</div>
        <div class="layui-card-body">
            <div class="layui-form">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th style="text-align:left;">考核年</th>
                            <th>考核月</th>
                            <th>考核类型</th>
                            <th>考核得分</th>
                        </tr>
                    </thead>
                    <tbody id="MonthCheckList" style="min-height:400px;"></tbody>
                </table>
                <div id="pageinfo" class="pagebox">
                    <div id="Pagination" class="pagination"></div><div id="divpagedetail" class="pagedetail">共0条记录</div>
                </div>
                <script type="text/html" id="temslistOfMC">
                    {{each list as c}}
                    <tr>
                        <td>{{c.CheckYear}}</td>
                        <td>{{c.CheckMonth}}</td>
                        <td>{{c.CheckTypeName}}</td>
                        <td>{{c.Score}}</td>
                    </tr>
                    {{/each}}
                </script>
            </div>
        </div>
    </div>
    <div class="layui-card" id="divPatrolRecordList">
        <div class="layui-card-header">巡查信息</div>
        <div class="layui-card-body">
            <div class="layui-form">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th style="text-align:left;">巡查编号</th>
                            <th>巡查类型</th>
                            <th>巡查内容</th>
                        </tr>
                    </thead>
                    <tbody id="PatrolRecordList" style="min-height:400px;"></tbody>
                </table>
                <div id="pageinfo1" class="pagebox">
                    <div id="Pagination1" class="pagination"></div><div id="divpagedetail1" class="pagedetail">共0条记录</div>
                </div>
                <script type="text/html" id="temslistOfPR">
                    {{each list as c}}
                    <tr>
                        <td>{{c.PatrolNumber}}</td>
                        <td>{{c.PatrolTypeName}}</td>
                        <td>{{c.PatrolContent}}</td>
                    </tr>
                    {{/each}}
                </script>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">整改措施</div>
        <div class="layui-card-body">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width:12%;"><em>*</em>整改跟进人</label>
                <div class="layui-input-inline" style="width:222px;">
                    <input id="txtUserRectification" name="UserRectification" value="@ViewBag.UserRectification" lay-verify="required" type="text" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width:12%;"><em>*</em>计划完成日期</label>
                <div class="layui-input-inline" style="width:222px;">
                    <input id="txtPlanEndTime" name="PlanEndTime" value="@ViewBag.PlanEndTime" lay-verify="required" type="text" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>问题原因</label>
                <div class="layui-input-block">
                    <textarea id="txtRectificationReason" name="RectificationReason" lay-verify="required" class="layui-textarea">@ViewBag.RectificationReason</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>整改措施</label>
                <div class="layui-input-block">
                    <textarea id="txtRectificationMethod" name="RectificationMethod" lay-verify="required" class="layui-textarea">@ViewBag.RectificationMethod</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">整改自评</div>
        <div class="layui-card-body">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width:13%;"><em>*</em>整改实际完成时间</label>
                <div class="layui-input-inline" style="width:210px;">
                    <input id="txtActualFinishTime" name="ActualFinishTime" value="@ViewBag.ActualFinishTime" lay-verify="required" type="text" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" style="width:120px;"><em>*</em>整改效果自评</label>
                <div class="layui-input-inline" style="width:88%;">
                    <textarea id="txtEffectEvaluation" name="EffectEvaluation" lay-verify="required" class="layui-textarea">@ViewBag.EffectEvaluation</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">附件信息 </div>
        <div class="layui-card-body" style="overflow:hidden;">
            <div class="layui-form-item" style="margin-top:10px;">
                <input type="hidden" id="hdfiles" value="@ViewBag.files" />
                <input type="hidden" id="hdfilelist" name="FileList" />
                <div class="layui-input-inline" style="width:800px;overflow:hidden;">
                    <div class="layui-btn-group" style="float:left;overflow:hidden;">
                        <div class="layui-inline">
                            <div class="layui-btn layui-btn-normal" id="btnUpload">上传文件</div>
                        </div>
                    </div>
                </div>
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th>文件类型</th>
                            <th>文件地址</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="filelist"></tbody>
                </table>
                <script type="text/html" id="temfilelist">
                    {{each list as c}}
                    <tr>
                        <td>{{c.filename}}</td>
                        <td>{{c.path}}</td>
                        <td>
                            <a class="layui-btn layui-btn-danger layui-btn-sm" onclick="downfile('{{c.id}}')">下载</a>
                            <a class="layui-btn layui-btn-danger layui-btn-sm" onclick="delfilelist('{{c.id}}')">删除</a>
                        </td>
                    </tr>
                    {{/each}}
                </script>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="width:20%;margin:0 auto !important;">
                    <button class="layui-btn" lay-submit="" lay-filter="btnSave">保存</button>
                    <a class="layui-btn" id="btnGoBack">返回</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script>
        // initfiles/delfilelist/setfilename/downfile 附件上传/删除/更改名称/下载
        var filelist = [];
        function initfiles() {
            $("#filelist").html(template('temfilelist', { list: filelist }));
            $("#hdfilelist").val(JSON.stringify(filelist));
        }
        function delfilelist(ids) {
            var tem = [];
            for (var i in filelist) {
                if (filelist[i].id != ids) {
                    tem.push(filelist[i]);
                }
            }

            filelist = tem;
            initfiles();
        }
        function setfilename(ids, names) {
            for (var i in filelist) {
                if (filelist[i].id == ids) {
                    filelist[i].filename = names;
                }
            }
            $("#hdfilelist").val(JSON.stringify(filelist));
        }
        function downfile(ids) {
            for (var i in filelist) {
                if (filelist[i].id == ids) {
                    location.href = '/index/down?url=' + filelist[i].path + "&name=" + filelist[i].filename + "&ext=" + filelist[i].ext;
                }
            }
        }

        layui.use(['form', 'element', 'laydate', 'upload'], function () {
            var form = layui.form, ele = layui.element, laydate = layui.laydate;

            // 日期
            laydate.render({
                elem: '#txtPlanEndTime'
               , type: 'datetime'
               , format: 'yyyy/MM/dd HH:mm:ss'
            });
            laydate.render({
                elem: '#txtActualFinishTime'
               , type: 'datetime'
               , format: 'yyyy/MM/dd HH:mm:ss'
            });

            // 开关
            form.on('switch(twoAbnormity)', function (data) {
                $("#hdTwoAbnormity").val(this.checked ? "1" : "0");
            });

            // 上传文件
            $(document).on('click', '#btnUpload', function () {
                top.window.filedialog = top.layui.layer.open({
                    type: 2,
                    shade: 0.2,
                    title: '文件上传',
                    content: '/supplier/SupplierTransport/files?url=/SupplierQuery/TraAbnormalRectification/Index&type=measures',
                    area: ['450px', '300px'],
                });
            });

            // 提交保存
            form.on('submit(btnSave)', function (data) {
                $("#btnSave").attr("display", "none");
                $.ajax({
                    type: "POST",
                    url: "/SupplierQuery/TraAbnormalRectification/ReformAbnormityRecord",
                    data: data.field,
                    async: false,
                    success: function (data) {
                        if (data.flag == 'success') {
                            top.layui.layer.msg('保存成功！');
                            location.href = '/SupplierQuery/TraAbnormalRectification/Index';
                        }
                        if (data.flag == "noauth") {
                            top.layer.msg(data.content);
                        }
                        if (data.flag == "fail") {
                            top.layui.layer.msg('保存失败！');
                        }
                    }
                });
                return false;
            });

            // 返回事件
            $(document).on('click', '#btnGoBack', function () {
                location.href = '/SupplierQuery/TraAbnormalRectification/Index';
            });
        });

        //添加新文件(新增)
        function setnewfiles(filename, path) {
            filelist.push({ id: new Date().getTime(), path: path, filename: filename, ext: '' });
            initfiles();
        }

        // 页面加载
        $(function () {
            // 供应商类型赋值
            $("#selSupplierType").val($("#hdSupplierType").val());

            // 整改类型赋值
            $("#selRectificationTypes").val($("#hdRectificationTypes").val());

            if ($("#selRectificationTypes").val() == 0) {
                $("#divMonthCheckList").show();
                $("#divPatrolRecordList").hide();

                // 月绩效列表
                SearchMonthCheck();
            }
            else if ($("#selRectificationTypes").val() == 1) {
                $("#divMonthCheckList").hide();
                $("#divPatrolRecordList").show();

                // 巡查列表
                SearchPatrolRecord();
            }
            else if ($("#selRectificationTypes").val() == 2) {
                $("#divMonthCheckList").show();
                $("#divPatrolRecordList").show();

                // 月绩效列表/巡查列表
                SearchMonthCheck();
                SearchPatrolRecord();
            }
            else {
                $("#divMonthCheckList").hide();
                $("#divPatrolRecordList").hide();
            }

            filelist = JSON.parse($("#hdfiles").val());
            initfiles();
        });

        // 类型数组
        window.SupplierType = [];

        // 供应商类型(系统字典表中获取)
        function GetSupplierType() {

            SupplierType.push({ id: '', name: "请选择供应商类型" });

            $.ajax({
                url: '/Supplier/Supplier/DictList',
                type: 'POST',
                async: false,
                datatype: 'json',
                success: function (data) {
                    if (data) {
                        for (var i in data) {
                            if (data[i].Type == 3) {
                                SupplierType.push({ id: data[i].Id, name: data[i].Name });
                            }
                        }
                    }
                }
            });

            $("#selSupplierType").html(template('temdictlist', { list: SupplierType }));

            layui.use('form', function () {
                layui.form.render("select");
            });
        }

        // 定义页面索引及显示条数
        var pageIndex = 0;
        var pageSize = 5;

        // 查询总记录数
        function SearchMonthCheck() {
            // 页面索引
            pageIndex = 0;

            var count = 0;

            // 等待时显示
            $("#MonthCheckList").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/Tra/TraAbnormityRecord/RecordDetailCount",
                async: false,
                data: {
                    tAbnormityId: $("#hdAbnormityId").val(),
                    tDetailType: 0
                },
                success: function (data) {
                    count = data;
                    $("#divpagedetail").text("共" + count + "条记录");
                }
            });

            // 分页配置
            $("#Pagination").pagination(count, {
                callback: PageCallbackOfMC,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfMC(indexs) {
            pageIndex = indexs;
            InitMCTable(indexs);
        }

        // 查询数据
        function InitMCTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                tAbnormityId: $("#hdAbnormityId").val(),
                tDetailType: 0
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Tra/TraAbnormityRecord/RecordDetailList',
                data: userjosn,
                success: function (data) {
                    $("#MonthCheckList").html(template('temslistOfMC', { list: data }));
                    $("#pageinfo").show();
                    if (data.length == 0) {
                        $("#pageinfo").hide();
                        $("#MonthCheckList").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }

        // 查询总记录数
        function SearchPatrolRecord() {
            // 页面索引
            pageIndex = 0;

            var count = 0;

            // 等待时显示
            $("#PatrolRecordList").html("<tr class='loadings' ><td colspan=8>数据加载中……<td></tr>");

            // 查询总记录数
            $.ajax({
                type: "POST",
                url: "/Tra/TraAbnormityRecord/RecordDetailCount",
                async: false,
                data: {
                    tAbnormityId: $("#hdAbnormityId").val(),
                    tDetailType: 1
                },
                success: function (data) {
                    count = data;
                    $("#divpagedetail1").text("共" + count + "条记录");
                }
            });

            // 分页配置
            $("#Pagination1").pagination(count, {
                callback: PageCallbackOfPR,
                prev_text: '<',       //上一页按钮里text
                next_text: '>',       //下一页按钮里text
                items_per_page: pageSize,  //显示条数
                num_display_entries: 6,    //连续分页主体部分分页条目数
                current_page: pageIndex,   //当前页索引
                num_edge_entries: 2        //两侧首尾分页条目数
            });
        }

        // 分页参数
        function PageCallbackOfPR(indexs) {
            pageIndex = indexs;
            InitPRTable(indexs);
        }

        // 查询数据
        function InitPRTable(pageIndexs) {
            var userjosn = {
                index: (pageIndex + 1),
                size: pageSize,
                tAbnormityId: $("#hdAbnormityId").val(),
                tDetailType: 1
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '/Tra/TraAbnormityRecord/RecordDetailList',
                data: userjosn,
                success: function (data) {
                    $("#PatrolRecordList").html(template('temslistOfPR', { list: data }));
                    $("#pageinfo1").show();
                    if (data.length == 0) {
                        $("#pageinfo1").hide();
                        $("#PatrolRecordList").html("<div class='nodata'>暂无数据</div>")
                    }
                }
            });
        }
    </script>
}
